{% include 'header.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error | trans }}</div>
    {% endfor %}
    <h1>{{ 'Reset your password' | trans }}</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                {{ 'Enter your email address and we will send you a link to reset your password' | trans }}.
            </small>
        </div>

        <button class="btn btn-primary">{{ 'Send password reset email' | trans }}</button>
    {{ form_end(requestForm) }}
{% endblock %}

{% include 'footer.html.twig' %}
