{% include 'header.html.twig' %}

{% block body %}
    <div class="login">
        <div class="login-row">
            <div class="login-header">{{ 'Reset your password' | trans }}</div>

            <div id="login-form" class="login-reset">
                {{ form_start(resetForm) }}
                    {{ form_errors(resetForm.plainPassword) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <div class="login-submit">
                        <button class="btn btn-primary">{{ 'Reset password' | trans }}</button>
                    </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% include 'footer.html.twig' %}
