{% if not readonly or prefilled_data.owner_rep_name is defined or prefilled_data.owner_name is defined or prefilled_data.user_name is defined or prefilled_data.handler_name is defined or prefilled_data.third_party_name is defined %}
<div id="actors-form"{% if not readonly %} class="form-tab"{% endif %}>
    {% if not readonly or prefilled_data.owner_name is defined %}
        <div class="report-header">{{ 'Information owner / lender' | trans }}</div>
        {% if not readonly or prefilled_data.owner_name is defined %}
            <div class="form-group">
                {% include 'organisation_info.html.twig' with { 'type': 'owner' }%}
            </div>
        {% endif %}
        {% if not readonly or prefilled_data.owner_rep_name is defined %}
            <div class="form-group">
                {% include 'representative_info.html.twig' with { 'type': 'owner_rep' }%}
            </div>
        {% endif %}
    {% endif %}

    {% if not readonly or prefilled_data.user_name is defined %}
        <div class="report-header">{{ 'Information borrower / restorer' | trans }}</div>
        {% if not readonly or prefilled_data.user_name is defined %}
            <div class="form-group">
                {% include 'organisation_info.html.twig' with { 'type': 'user' }%}
            </div>
        {% endif %}
        {% if not readonly or prefilled_data.user_rep_name is defined %}
            <div class="form-group">
                {% include 'representative_info.html.twig' with { 'type': 'user_rep' }%}
            </div>
        {% endif %}
    {% endif %}

    {% if not readonly or prefilled_data.handler_name is defined %}
        <div class="report-header">{{ 'Information courier / art handler' | trans }}</div>
        {% if not readonly or prefilled_data.handler_name is defined %}
            <div class="form-group">
                {% include 'organisation_info.html.twig' with { 'type': 'handler' }%}
            </div>
        {% endif %}
        {% if not readonly or prefilled_data.handler_rep_name is defined %}
            <div class="form-group">
                {% include 'representative_info.html.twig' with { 'type': 'handler_rep' }%}
            </div>
        {% endif %}
    {% endif %}

    {% if not readonly or prefilled_data.third_party_name is defined %}
        <div class="report-header">{{ 'Information other third party' | trans }}</div>
        {% if not readonly or prefilled_data.third_party_name is defined %}
            <div class="form-group">
                {% include 'organisation_info.html.twig' with { 'type': 'third_party' }%}
            </div>
        {% endif %}
        {% if not readonly or prefilled_data.third_party_rep_name is defined %}
            <div class="form-group">
                {% include 'representative_info.html.twig' with { 'type': 'third_party_rep' }%}
            </div>
        {% endif %}
    {% endif %}
    {% if not readonly %}
    <div class="buttons">
        <div class="previous-button">
            <button type="button" onclick="showDiv('basic-info-form', true)">{{ 'Previous' | trans }}</button>
        </div>
        <div class="next-button">
            <button type="button" onclick="showDiv('material-form', true)">{{ 'Next' | trans }}</button>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
