<div id="annotate-form"{% if not readonly %} class="form-tab"{% endif %}>
    {% if readonly %}
        <div class="report-header">{{ 'Annotations' | trans }}</div>
    {% endif %}
    <div id="annotation-form">
        <div id="annotation-history">
            {% set default_image = '' %}
            {% set has_history = false %}
            <div id="hidden-images">
                {% for image in images %}
                    <input type="hidden" id="hidden-image-{{ image.hash }}" name="images[]" value="{{ image | json_encode | replace({'"': '\\"'}) }}">
                    {% if annotation_history[image.hash] is defined %}
                        {% for id, timestamp in annotation_history[image.hash] %}
                            {% set has_history = true %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if has_history or not readonly %}
                {% for image in images %}
                    {% if loop.first %}
                        {% set default_image = image.hash %}
                        <div id="history">
                            <div class="flex">
                                <button type="button" onclick="resetAnnotations()" class="show-all" id="show-hide-all-annos"><i class="far fa-eye"></i><span>{{ 'Hide all' | trans }}</span></button>
                                <button type="button" onclick="toggleNumberOverlays(window.osd_anno)" id="show-hide-numbers"><i class="far fa-eye"></i><span>{{ '1' | trans }}</span></button>
                            </div>
                            <div id="annotation-history-timestamps">
                                {% if not readonly %}
                                    <div id="annos-{{ image.hash }}-999999999" class="show-hide-current-annos">
                                        <button type="button" onclick="toggleAnnotations('999999999')" id="show-hide-annos-{{ image.hash }}-999999999" class="hide">
                                            <i class="far fa-eye"></i>
                                            <span>{{ 'Current annotations' | trans }}</span>
                                        </button>
                                        <div class="annotations-list"></div>
                                    </div>
                                {% endif %}
                                {% if annotation_history[image.hash] is defined %}
                                    {% for id, timestamp in annotation_history[image.hash] %}
                                        <div id="annos-{{ image.hash }}-{{ id }}">
                                            <button type="button" onclick="toggleAnnotations('{{ id }}')" id="show-hide-annos-{{ image.hash }}-{{ id }}" class="hide">
                                                <i class="far fa-eye"></i>
                                                <span>{{ timestamp }}</span>
                                            </button>
                                            <div class="annotations-list"></div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div id="annotation-tools">
            {% if not readonly %}
                <div>
                    <button class="drawing-tool-inactive" name="drawing-tools" type="button" onclick="setDrawingTool('rect');" value="rect">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <path d="M25.8,4.2v21.6H4.2V4.2H25.8 M30,0H0v30h30V0L30,0z"/>
                        </svg>
                    </button>
                    <button class="drawing-tool-inactive" name="drawing-tools" type="button" onclick="setDrawingTool('polygon');" value="polygon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 34.6 30" style="enable-background:new 0 0 34.6 30;" xml:space="preserve">
                            <path d="M23.6,4.2L29.8,15l-6.2,10.8H11.1L4.8,15l6.2-10.8H23.6 M26,0H8.7L0,15l8.7,15H26l8.7-15L26,0L26,0z"/>
                        </svg>
                    </button>
                    <!--<button class="drawing-tool-inactive" name="drawing-tools" type="button" onclick="setDrawingTool('circle');" value="recirclect">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <path d="M15,4.2C21,4.2,25.8,9,25.8,15S21,25.8,15,25.8S4.2,21,4.2,15S9,4.2,15,4.2 M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15
                                s15-6.7,15-15S23.3,0,15,0L15,0z"/>
                        </svg>
                    </button>-->
                    <button class="drawing-tool-inactive" name="drawing-tools" type="button" onclick="setDrawingTool('ellipse');" value="ellipse">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                            <path d="M15,4.2C21,4.2,25.8,9,25.8,15S21,25.8,15,25.8S4.2,21,4.2,15S9,4.2,15,4.2 M15,0C6.7,0,0,6.7,0,15s6.7,15,15,15
                                s15-6.7,15-15S23.3,0,15,0L15,0z"/>
                        </svg>
                    </button>
                    <button class="drawing-tool-inactive" name="drawing-tools" type="button" onclick="setDrawingTool('freehand');" value="freehand">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 30.3 30" style="enable-background:new 0 0 30.3 30;" xml:space="preserve">
                            <path d="M2.9,6.5c1.2-1.2,2.3-2.3,2.9-2c0.8,0.3,0,1.7-0.5,2.5c-0.4,0.7-4.8,6.5-4.8,10.5c0,2.1,0.8,3.9,2.2,5
                                c1.3,0.9,2.9,1.2,4.4,0.8c1.8-0.5,3.3-2.3,5.1-4.6c2-2.5,4.7-5.7,6.8-5.7c2.7,0,2.8,1.7,2.9,3c-6.3,1.1-9,6.1-9,9
                                c0,2.8,2.4,5.2,5.4,5.2c2.7,0,7.2-2.2,7.8-10.2h4.1v-4.2h-4.1c-0.3-2.8-1.8-7-6.7-7c-3.8,0-7,3.2-8.2,4.7c-1,1.2-3.4,4.1-3.8,4.5
                                c-0.4,0.5-1.1,1.4-1.9,1.4c-0.8,0-1.2-1.4-0.6-3.2c0.6-1.8,2.3-4.8,3.1-5.9c1.3-1.9,2.2-3.2,2.2-5.5C10.2,1.2,7.5,0,6,0
                                C3.8,0,1.9,1.7,1.5,2.1C0.9,2.7,0.4,3.2,0,3.6L2.9,6.5z M18.4,25.9c-0.5,0-1.2-0.4-1.2-1.2c0-1,1.2-3.7,4.8-4.6
                                C21.5,24.6,19.6,25.9,18.4,25.9z"/>
                        </svg>
                    </button>
                </div>
                <div>
                    <div class="layer-multiselect">
                        <div class="layer-select-box" onclick="showLayerCheckboxes()">
                            <select>
                                <option>{{ 'Select layer' | trans }}</option>
                            </select>
                            <div class="layer-over-select" id="layer-over-select"></div>
                        </div>
                        <div id="layer-checkboxes">
                            <div class="layer-checkbox-div"><input type="checkbox" id="layer-carrier" onchange="checkLayerCheckbox(this)" autocomplete="off"/><label for="layer-carrier">{{ 'Carrier' | trans }}</label></div>
                            <div class="layer-checkbox-div"><input type="checkbox" id="layer-paint-layer" onchange="checkLayerCheckbox(this)" autocomplete="off"/><label for="layer-paint-layer">{{ 'Paint layer' | trans }}</label></div>
                            <div class="layer-checkbox-div"><input type="checkbox" id="layer-finishing-layer" onchange="checkLayerCheckbox(this)" autocomplete="off"/><label for="layer-finishing-layer">{{ 'Finishing layer' | trans }}</label></div>
                            <div class="layer-checkbox-div"><input type="checkbox" id="layer-frame" onchange="checkLayerCheckbox(this)" autocomplete="off"/><label for="layer-frame">{{ 'Frame' | trans }}</label></div>
                        </div>
                    </div>
                </div>
                {% set damage_types = [] %}
                {% for key, damage_type in report_fields.damage_types %}
                    {% set damage_type = key | trans %}
                    {% set damage_types = damage_types | merge({ (key): damage_type }) %}
                {% endfor %}
                {% set damage_types = damage_types | sort %}
                {% for object_type in object_types %}
                    <div id="annotation-select-{{ object_type }}"{% if this_object_type != object_type %} class="hidden"{% endif %}>
                        <select class="annotation-select" onchange="selectedDamageType(this)" autocomplete="off">
                            <option value="" selected disabled hidden>{{ 'Select damage type' | trans }}</option>
                            {% for key, damage_type in damage_types %}
                                {% if object_type == 'default' or object_type in attribute(report_fields.damage_types, key).applies_to %}
                                    <option value="{{ key | trans }}">{{ key | trans }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            {% endif %}
            {% if readonly and prefilled_data.manifest is defined %}
                <a id="iiif-manifest-url" href="{{ prefilled_data.manifest }}">IIIF Manifest</a>
            {% endif %}
        </div>

        <div id="annotation-viewer">
            <div id="overlays"></div>
            <div id="openseadragon-annotorious"></div>
            {% if readonly %}
                {% for image in images %}
                    <div class="no-print-break">
                        <div id="openseadragon-annotorious-print-{{ image.hash }}" class="openseadragon-annotorious-print"></div>
                    </div>
                    <div class="no-print-break">
                        {% if annotation_history[image.hash] is defined %}
                            <div id="annotation-history-print">
                                {% for id, timestamp in annotation_history[image.hash] %}
                                    <div id="annos-print-{{ image.hash }}-{{ id }}">{{ timestamp }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% if images | length > 1 or not readonly %}
            <div id="annotation-images">
                {% if not readonly %}
                    <!-- TODO fix this, if you change object type from sculpture (in an already made report) to anything else, this will not work -->
                    <div id="add-images">
                        <select id="add-image-select" onchange="selectedImageToAdd(this)" autocomplete="off">
                            <option value="" selected disabled hidden>{{ 'Add image' | trans }}</option>
                            <option value="frame" id="add-image-frame"{% if this_object_type == 'sculpture' %} disabled hidden{% endif %}>{{ 'Simplified image of a frame' | trans }}</option>
                            <option value="backside" id="add-image-backside"{% if this_object_type == 'sculpture' %} disabled hidden{% endif %}>{{ 'Simplified image of a backside' | trans }}</option>
                            <option value="camera">{{ 'Image through camera' | trans }}</option>
                            <option value="device">{{ 'Image on device' | trans }}</option>
                            <option value="url">{{ 'Image through URL' | trans }}</option>
                            <option value="iiif">{{ 'IIIF image through URL' | trans }}</option>
                        </select>
                        <div id="add-image-div">
                            <input type="file" id="annotate-camera" name="annotate-file" accept="image/*" capture="environment" style="display: none">
                            <input type="file" id="annotate-file" name="annotate-file" accept="image/*" style="display: none">
                            <input type="text" id="add-image-url" placeholder="{{ 'Fill in image URL ...' | trans }}">
                            <button type="button" id="add-image-url-button" onclick="triggerImageAdd()">{{ 'Load' | trans }}</button>
                        </div>
                    </div>
                    <input type="hidden" id="annotation_data" name="annotation_data">
                {% endif %}
                <div id="thumbnails">
                    {% for image in images %}
                        <div class="thumbnail-image" id="thumbnail-image-{{ image.hash }}">
                            <img src="{{ image.thumbnail }}" alt="" onclick="clickedThumbnail('{{ image.hash }}', '{{ image.image}}')">
                            {% if not readonly %}
                                <div class="delete-image-button" onclick="confirmDeleteImage('{{ image.hash }}')">
                                    <svg class="trash-background-image" height="33" width="33">
                                        <rect width="33" height="33" rx="4" fill="white"></rect>
                                    </svg>
                                    <i class="fas fa-trash-alt trash-icon"></i>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

    <!--<button type="button" id="print-button" onclick="if(window.isPrinting) return; window.isPrinting = true; window.osd.viewport.goHome(true); setTimeout(function(){ window.isPrinting = false; window.print(); }, 100);">Printen</button>-->

    {% if not readonly %}
        <div class="buttons">
            <div class="previous-button">
                <button type="button" onclick="showDiv('recommendations-form', true)">{{ 'Previous' | trans }}</button>
            </div>
            <!--<div class="send-button">
                <input type="submit" value="Rapport verzenden">
            </div>-->
        </div>
    {% endif %}
</div>

<script>

$('input#annotate-file').change(function() {

    $(this).simpleUpload('/{{ app.request.locale }}/upload', {

        start: function(file) {
            document.getElementById('add-image-select').selectedIndex = 0;
            document.getElementById('annotate-file').value = '';
//            document.getElementById('annotate-file-progress').innerHTML = 'Uploading...';
        },

        progress: function(progress){
            //received progress
//            document.getElementById('annotate-file-progress').innerHTML = Math.round(progress) + '%';
            console.log('upload progress: ' + Math.round(progress) + '%');
        },

        success: function(data){
            //upload successful
//            document.getElementById('annotate-file-progress').innerHTML = '';
            console.log('upload successful!');
            console.log(data);

            addImage(data);
        },

        error: function(error){
            //upload failed
            console.log(error);
//            document.getElementById('annotate-file-progress').innerHTML = '';
            console.log('upload error: ' + error.name + ': ' + error.message);
        }
    });
});

$('input#annotate-camera').change(function() {

    $(this).simpleUpload('/{{ app.request.locale }}/upload', {

        start: function(file) {
            document.getElementById('add-image-select').selectedIndex = 0;
            document.getElementById('annotate-camera').value = '';
//            document.getElementById('annotate-camera-progress').innerHTML = 'Uploading...';
        },

        progress: function(progress){
            //received progress
//            document.getElementById('annotate-camera-progress').innerHTML = Math.round(progress) + '%';
            console.log('upload progress: ' + Math.round(progress) + '%');
        },

        success: function(data){
            //upload successful
//            document.getElementById('annotate-camera-progress').innerHTML = '';
            console.log('upload successful!');
            console.log(data);

            addImage(data);
        },

        error: function(error){
            //upload failed
            console.log(error);
//            document.getElementById('annotate-camera-progress').innerHTML = '';
            console.log('upload error: ' + error.name + ': ' + error.message);
        }
    });
});

window.osd_anno = OpenSeadragon({
    id: 'openseadragon-annotorious',
    tileSources: [
        {% for image in images %}
            {% if loop.first %}
                {% if image.image ends with '/info.json' %}
                    '{{ image.image }}'
                {% else %}
                    {
                        'type': 'image',
                        'url': '{{ image.image }}'
                    }
                {% endif %}
            {% endif %}
        {% endfor %}
    ]
});

window.annoConf = {
    locale: 'auto',
    styleColor: 'red',
    styleFill: '',
    styleClass: 'condition-red',
    damageType: ''
    {% if readonly %}
        , readOnly: true
    {% else %}
        , userId: '{{ email }}'
        , userName: '{{ full_name }}'
    {% endif %}
};
window.overlays = [];

window.anno = OpenSeadragon.Annotorious(window.osd_anno, window.annoConf);

window.osd_anno.addHandler('open', function(event) {
    addNumberOverlays(window.osd_anno, true);
});

window.anno.on('mouseEnterAnnotation', function(annotation, ele) {
    if(annotation != null) {
        var spans = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(spans !== null) {
            for(var i = 0; i < spans.length; i++) {
                spans[i].classList.add('anno-hist-hover');
            }
        }
        var number = window.annoIds.hasOwnProperty(annotation.id) ? window.annoIds[annotation.id] : null;
        if(number !== null) {
            var e = document.getElementById('annotation-number-' + number);
            if(e != null) {
                e.classList.add('highlighted-number');
            }
        }
    }
});

window.anno.on('selectAnnotation', function(annotation, ele) {
    if(annotation != null) {
        var spans = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(spans !== null) {
            for(var i = 0; i < spans.length; i++) {
                spans[i].classList.add('anno-hist-hover');
            }
        }
        var number = window.annoIds.hasOwnProperty(annotation.id) ? window.annoIds[annotation.id] : null;
        if(number !== null) {
            var e = document.getElementById('annotation-number-' + number);
            if(e != null) {
                e.classList.add('highlighted-number');
            }
        }
    }
});

window.anno.on('mouseLeaveAnnotation', function(annotation, ele) {
    if(annotation != null) {
        var spans = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(spans !== null) {
            for(var i = 0; i < spans.length; i++) {
                spans[i].classList.remove('anno-hist-hover');
            }
        }
        var number = window.annoIds.hasOwnProperty(annotation.id) ? window.annoIds[annotation.id] : null;
        if(number !== null) {
            var e = document.getElementById('annotation-number-' + number);
            if(e != null) {
                e.classList.remove('highlighted-number');
            }
        }
    }
});

window.anno.on('cancelSelected', function(annotation, ele) {
    if(annotation != null) {
        var spans = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(spans !== null) {
            for(var i = 0; i < spans.length; i++) {
                spans[i].classList.remove('anno-hist-selected');
            }
        }
        var number = window.annoIds.hasOwnProperty(annotation.id) ? window.annoIds[annotation.id] : null;
        if(number !== null) {
            var e = document.getElementById('annotation-number-' + number);
            if(e != null) {
                e.classList.remove('highlighted-number');
            }
        }
    }
});

window.anno.on('updateAnnotation', function(annotation, ele) {
    if(annotation != null) {
        var spans = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(spans !== null) {
            for(var i = 0; i < spans.length; i++) {
                spans[i].classList.add('anno-hist-selected');
            }
        }
        var number = window.annoIds.hasOwnProperty(annotation.id) ? window.annoIds[annotation.id] : null;
        if(number !== null) {
            var e = document.getElementById('annotation-number-' + number);
            if(e != null) {
                e.classList.remove('highlighted-number');
            }
        }
    }
});

window.anno.on('createAnnotation', function(annotation, ele) {
    if(annotation != null) {
        if(!window.annoIds.hasOwnProperty(annotation.id)) {
            window.annoIds[annotation.id] = Object.keys(window.annoIds).length + 1;
            window.addedAnnotations[window.currentImage]['999999999'][annotation.id] = annotation;
        }
        var buttons = document.getElementsByClassName('show-hide-current-annos');
        for(var i = 0; i < buttons.length; i++) {
            buttons[i].style = 'display: block';
            var div = buttons[i].querySelector('div');
            if(div != null) {
                var styleClass = null;
                if(annotation.hasOwnProperty('target') && annotation.target.hasOwnProperty('styleClass')) {
                    styleClass = annotation.target.styleClass;
                }
                if(annotation.hasOwnProperty('body')) {
                    addAnnoHistSpan(div, null, annotation.id, annotation.body, styleClass, true);
                }
            }
        }
        addNumberOverlays(window.osd_anno, true);
    }
});

window.anno.on('deleteAnnotation', function(annotation, ele) {
    if(annotation != null) {
        var buttons = document.getElementsByClassName('anno-hist-' + annotation.id);
        if(buttons != null) {
            for(var i = buttons.length - 1; i >= 0; i--) {
                buttons[i].classList.remove('anno-hist-hover');
                var parentGroup = buttons[i].parentElement;
                var parentParentDiv = parentGroup.parentElement;
                var topDiv = parentParentDiv.parentElement;
                if(topDiv.className === 'show-hide-current-annos') {
                    parentGroup.removeChild(buttons[i]);
                    if(parentGroup.querySelectorAll('div').length === 0) {
                        parentParentDiv.removeChild(parentGroup);
                    }
                    if(parentParentDiv.childElementCount === 0) {
                        topDiv.style = 'display: none';
                    }
                    if(window.currentImage in window.addedAnnotations) {
                        for(id in window.addedAnnotations[window.currentImage]) {
                            for (const [annoId, anno] of Object.entries(window.addedAnnotations[window.currentImage][id])) {
                                if(annoId === annotation.id) {
                                    delete window.addedAnnotations[window.currentImage][id][annoId];
                                    break;
                                }
                            }
                        }
                    }
                } else {
                    var alreadyIn = false;
                    if(window.currentImage in window.deletedAnnotations) {
                        for(id in window.deletedAnnotations[window.currentImage]) {
                            if (window.deletedAnnotations[window.currentImage][id].includes(annotation.id)) {
                                alreadyIn = true;
                                break;
                            }
                        }
                    }
                    if(!alreadyIn) {
                        window.deletedAnnotations[window.currentImage]['999999999'].push(annotation.id);
                        var buttons1 = document.getElementsByClassName('show-hide-current-annos');
                        for(var j = 0; j < buttons1.length; j++) {
                            buttons1[j].style = 'display: block';
                            var div = buttons1[j].querySelector('div');
                            if(div != null) {
                                addAnnoHistSpan(div, null, annotation.id, null, null, false);
                            }
                        }
                    }
                }
            }
        }
    }
    addNumberOverlays(window.osd_anno, true);
});

Annotorious.SelectorPack(window.anno, {});

{% if readonly %}
    {% for image in images %}
        window.osdPrint{{ image.hash }} = OpenSeadragon({
            id: 'openseadragon-annotorious-print-{{ image.hash }}',
            tileSources: [
                {% if image.image ends with '/info.json' %}
                '{{ image.image }}'
                {% else %}
                {
                    'type': 'image',
                    'url': '{{ image.image }}'
                }
                {% endif %}
            ]
        });
        window.osdPrint{{ image.hash }}.addHandler('open', function(event) {
            addNumberOverlays(window.osdPrint{{ image.hash }}, false);
        });
        window.annoPrint{{ image.hash }} = OpenSeadragon.Annotorious(window.osdPrint{{ image.hash }}, {});
    {% endfor %}
{% else %}
    window.anno.setAuthInfo({
        id: '{{ email }}',
        displayName: '{{ full_name }}'
    });
{% endif %}

window.onload = function() {

    refreshAnnotations(window.anno, window.osd_anno, true);

    {% if not readonly %}
        document.forms[0].addEventListener('submit', function() {
            document.body.onbeforeunload = '';
            var annotations = {};
            for(var i = 0; i < window.images.length; i++) {
                var hash = window.images[i].hash;
                annotations[hash] = {};
                for (const id in window.annotationHistory[hash]) {
                    if (id in window.deletedAnnotations[hash]) {
                        for (const delId of window.deletedAnnotations[hash][id]) {
                            delete annotations[hash][delId];
                        }
                    }
                    if (id in window.addedAnnotations[hash]) {
                        for (const [annoId, anno] of Object.entries(window.addedAnnotations[hash][id])) {
                            annotations[hash][annoId] = anno;
                        }
                    }
                }
            }
            document.getElementById('annotation_data').value = JSON.stringify(annotations);
        });
        var objectTypePopupSelect = document.getElementById('object-type-popup-select');
        if (objectTypePopupSelect != null) {
            objectTypePopupSelect.selectedIndex = 0;
        }
        {% if prefilled_data.object_type is defined %}
            var objectTypeSelect = document.getElementById('object-type-select');
            if (objectTypeSelect != null) {
                {% for object_type in object_types %}
                    {% if this_object_type == object_type %}
                        objectTypeSelect.selectedIndex = {{ loop.index }};
                    {% endif %}
                {% endfor %}
            }
        {% else %}
            var objectTypeSelect = document.getElementById('object-type-select');
            if (objectTypeSelect != null) {
                objectTypeSelect.selectedIndex = 0;
            }
        {% endif %}
        var addImageSelect = document.getElementById('add-image-select');
        if (addImageSelect != null) {
            addImageSelect.selectedIndex = 0;
        }
        var reasonDropdown = document.getElementById('reason-dropdown');
        if(reasonDropdown != null) {
            {% if prefilled_data.reason_custom is not defined %}
                reasonDropdown.selectedIndex = 0;
            {% endif %}
        }
    {% else %}
        var cur = window.currentImage;
        {% for image in images %}
            window.currentImage = '{{ image.hash }}';
            refreshAnnotations(window.annoPrint{{ image.hash }}, window.osdPrint{{ image.hash }}, false);
        {% endfor %}
        window.currentImage = cur;

        var headers = document.getElementsByClassName('report-header');

        for (var i = 0; i < headers.length; i++) {
            var nextSibling = headers[i].nextElementSibling;

            if (typeof nextSibling !== 'undefined' && nextSibling.className === 'form-group') {
                var groupDiv = document.createElement('div');

                groupDiv.className = 'nobreak';

                headers[i].parentElement.insertBefore(groupDiv, headers[i]);

                groupDiv.appendChild(headers[i]);
                groupDiv.appendChild(nextSibling);
            }
        }
    {% endif %}
};

window.drawingEnabled = false;
window.numberOverlays = true;
window.layerSelectExpanded = false;

window.images = {{ images | json_encode | raw }};
window.currentImage = '{{ default_image }}';
var hist = {{ annotation_history | json_encode | raw }};

window.annoIds = [];
window.annotationHistory = {};
window.addedAnnotations = {};
window.deletedAnnotations = {};
window.annotationsVisible = {};

for(var i = 0; i < window.images.length; i++) {
    var hash = window.images[i].hash;
    window.annotationsVisible[hash] = {};
    {% if not readonly %}
        window.annotationHistory[hash] = {
            '999999999': ''
        };
        window.addedAnnotations[hash] = {
            '999999999': {}
        };
        window.deletedAnnotations[hash] = {
            '999999999': []
        };
    {% else %}
        window.annotationHistory[hash] = {};
        window.addedAnnotations[hash] = {};
        window.deletedAnnotations[hash] = {};
    {% endif %}
}

for(const image in hist) {
    for(const reportId in hist[image]) {
        window.annotationHistory[image][reportId] = hist[image][reportId];
    }
}

var deletedAnnos = {{ deleted_annotations | json_encode | raw }};
for(const image in deletedAnnos) {
    for(const reportId in deletedAnnos[image]) {
        var deleted = [];
        for(const id in deletedAnnos[image][reportId]) {
            deleted.push(id);
        }
        window.deletedAnnotations[image][reportId] = deleted;
    }
}

var annotations = {{ annotations | json_encode | raw }};
for(const image in annotations) {
    for(const reportId in annotations[image]) {
        var reportAnnos = {};
        var histEle = document.getElementById('annos-' + image + '-' + reportId);
        var printHistEleDiv = document.getElementById('annos-print-' + image + '-' + reportId);
        var histEleDiv = null;
        if(histEle != null) {
            histEleDiv = histEle.querySelector('div');
        }
        for(const id in annotations[image][reportId]) {
            reportAnnos[id] = JSON.parse(annotations[image][reportId][id]);
            if (!window.annoIds.hasOwnProperty(id)) {
                window.annoIds[id] = Object.keys(window.annoIds).length + 1;
            }
            if(reportAnnos[id].hasOwnProperty('body')) {
                if(histEleDiv != null) {
                    var styleClass = null;
                    if(reportAnnos[id].hasOwnProperty('target') && reportAnnos[id].target.hasOwnProperty('styleClass')) {
                        styleClass = reportAnnos[id].target.styleClass;
                    }
                    addAnnoHistSpan(histEleDiv, printHistEleDiv, id, reportAnnos[id].body, styleClass, true);
                }
            }
        }
        window.addedAnnotations[image][reportId] = reportAnnos;
    }
}

for(const image in deletedAnnos) {
    for(const reportId in deletedAnnos[image]) {
        var histEle_ = document.getElementById('annos-' + image + '-' + reportId);
        var histEleDiv_ = null;
        if(histEle_ != null) {
            histEleDiv_ = histEle_.querySelector('div');
        }
        var printHistEleDiv_ = document.getElementById('annos-print-' + image + '-' + reportId);
        for(const id in deletedAnnos[image][reportId]) {
            if(histEleDiv_ != null) {
                addAnnoHistSpan(histEleDiv_, printHistEleDiv_, id, null, null, false);
            }
        }
    }
}

for (const id in window.annotationHistory[window.currentImage]) {
    window.annotationsVisible[window.currentImage][id] = true;
}
window.allAnnotationsVisible = true;

{% if not readonly %}

document.addEventListener("click", closeLayerCheckboxes);

function closeLayerCheckboxes(ele) {
    var layerCheckboxes = document.getElementById('layer-over-select');
    var checkboxes = document.getElementById('layer-checkboxes');
    if (layerCheckboxes != null && checkboxes != null && (ele == null || ele.target == null || ele.target !== layerCheckboxes && ele.target !== checkboxes && ele.target.parentNode !== checkboxes && !(ele.target.parentNode != null && ele.target.parentNode.parentNode === checkboxes))) {
        checkboxes.style.display = 'none';
        window.layerSelectExpanded = false;
    }
}

function showLayerCheckboxes() {
    var checkboxes = document.getElementById('layer-checkboxes');
    window.layerSelectExpanded = !window.layerSelectExpanded;
    if (window.layerSelectExpanded) {
        checkboxes.style.display = 'block';
    } else {
        checkboxes.style.display = 'none';
    }
}

function checkLayerCheckbox(element) {
    var checkboxCarrier = document.getElementById('layer-carrier');
    var checkboxPaintLayer = document.getElementById('layer-paint-layer');
    var checkboxFinishingLayer = document.getElementById('layer-finishing-layer');
    var checkboxFrame = document.getElementById('layer-frame');
    if(checkboxCarrier != null && checkboxPaintLayer != null && checkboxFinishingLayer != null && checkboxFrame != null) {
        if(checkboxFrame.checked && element === checkboxFrame) {
            checkboxCarrier.checked = false;
            checkboxPaintLayer.checked = false;
            checkboxFinishingLayer.checked = false;
            window.annoConf.styleClass = 'condition-orange';
        } else if(checkboxCarrier.checked) {
            checkboxFrame.checked = false;
            if(checkboxPaintLayer.checked) {
                if(checkboxFinishingLayer.checked) {
                    window.annoConf.styleClass = 'condition-red-green-blue';
                } else {
                    window.annoConf.styleClass = 'condition-red-blue';
                }
            } else if(checkboxFinishingLayer.checked) {
                window.annoConf.styleClass = 'condition-green-blue';
            } else {
                window.annoConf.styleClass = 'condition-blue';
            }
        } else if(checkboxPaintLayer.checked) {
            checkboxFrame.checked = false;
            if(checkboxFinishingLayer.checked) {
                window.annoConf.styleClass = 'condition-red-green';
            } else {
                window.annoConf.styleClass = 'condition-red';
            }
        } else if(checkboxFinishingLayer.checked) {
            checkboxFrame.checked = false;
            window.annoConf.styleClass = 'condition-green';
        }
    }
}

function selectedImageToAdd(selectElement) {
    var addImageDivInput = document.getElementById('add-image-div');
    switch(selectElement.options[selectElement.selectedIndex].value) {
        case 'frame': {
            addImageDivInput.classList.remove('load-new-image-button');
            selectElement.classList.remove('add-image-select-url');
            addImage({{ frame_picture | json_encode | raw }});
            selectElement.selectedIndex = 0;
            break;
        }
        case 'backside': {
            addImageDivInput.classList.remove('load-new-image-button');
            selectElement.classList.remove('add-image-select-url');
            addImage({{ backside_picture | json_encode | raw }});
            selectElement.selectedIndex = 0;
            break;
        }
        case 'camera': {
            addImageDivInput.classList.remove('load-new-image-button');
            selectElement.classList.remove('add-image-select-url');
            document.getElementById('annotate-camera').click();
            selectElement.selectedIndex = 0;
            break;
        }
        case 'device': {
            addImageDivInput.classList.remove('load-new-image-button');
            selectElement.classList.remove('add-image-select-url');
            document.getElementById('annotate-file').click();
            selectElement.selectedIndex = 0;
            break;
        }
        case 'url': {
            addImageDivInput.classList.add('load-new-image-button');
            selectElement.classList.add('add-image-select-url');
            var addImageUrl = document.getElementById('add-image-url');
            addImageUrl.placeholder = '{{ 'Insert image URL ...' | trans }}';
            addImageUrl.value = '';
            break;
        }
        case 'iiif': {
            addImageDivInput.classList.add('load-new-image-button');
            selectElement.classList.add('add-image-select-url');
            var addImageUrl = document.getElementById('add-image-url');
            addImageUrl.placeholder = '{{ 'Insert IIIF image URL ...' | trans }}';
            addImageUrl.value = '';
            break;
        }
    }
}

function triggerImageAdd() {
    var selectElement = document.getElementById('add-image-select');
    switch(selectElement.options[selectElement.selectedIndex].value) {
        case 'iiif': {
            var value = document.getElementById('add-image-url').value;
            if (value !== '') {
                loadIIIFImage();
            }
            break;
        }
        case 'url': {
            var value = document.getElementById('add-image-url').value;
            if (value != '') {
                loadImage();
            }
            break;
        }
    }
}

function loadIIIFImage() {
    const xhr = new XMLHttpRequest();
    document.getElementById('add-image-url').placeholder = '{{ 'IIIF image is being loaded ...' | trans }}';
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            document.getElementById('add-image-url').placeholder = '';
            const response = JSON.parse(xhr.responseText);
            addImage(response);
        }
    };
    xhr.open('GET', '/{{ app.request.locale }}/loadiiifimage?report=1&image=' + encodeURIComponent(document.getElementById('add-image-url').value));
    xhr.send();
    document.getElementById('add-image-url').value = '';
    document.getElementById('add-image-select').selectedIndex = 0;
    document.getElementById('add-image-div').classList.remove('load-new-image-button');
}

function loadImage() {
    const xhr = new XMLHttpRequest();
    document.getElementById('add-image-url').placeholder = '{{ 'Image is being downloaded ...' | trans }}';
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            document.getElementById('add-image-url').placeholder = '';
            const response = JSON.parse(xhr.responseText);
            addImage(response);
        }
    };
    xhr.open('GET', '/{{ app.request.locale }}/download?image=' + encodeURIComponent(document.getElementById('add-image-url').value));
    xhr.send();
    document.getElementById('add-image-url').value = '';
    document.getElementById('add-image-select').selectedIndex = 0;
    document.getElementById('add-image-div').classList.remove('load-new-image-button');
}

function confirmDeleteImage(hash) {
    if(confirm('{{ 'Are you sure you want to delete this image and its annotations?' | trans }}')) {
        var ele = document.getElementById('thumbnail-image-' + hash);
        if(ele != null) {
            ele.parentNode.removeChild(ele);
            if(window.currentImage === hash) {
                window.allAnnotationsVisible = true;
                resetAnnotations();
                var div = document.getElementById('annotation-history-timestamps');
                while (div.firstChild) {
                    div.removeChild(div.firstChild);
                }
                window.osd_anno.world.removeAll();
            }
            delete window.annotationHistory[hash];
            delete window.addedAnnotations[hash];
            delete window.deletedAnnotations[hash];
        }
        var hiddenImageInput = document.getElementById('hidden-image-' + hash);
        if(hiddenImageInput != null) {
            hiddenImageInput.parentNode.removeChild(hiddenImageInput);
        }
    }
}

function addImage(image) {

    if(image.hash == null) {
        return;
    }

    window.images.push(image);
    window.annotationHistory[image.hash] = {
        '999999999': ''
    };
    window.addedAnnotations[image.hash] = {
        '999999999': {}
    };
    window.deletedAnnotations[image.hash] = {
        '999999999': []
    };
    window.annotationsVisible[image.hash] = {
        '999999999': true
    };

    const inputDiv = document.createElement('input');
    inputDiv.type = 'hidden';
    inputDiv.name = 'images[]';
    inputDiv.id = 'hidden-image-' + image.hash;
    inputDiv.value = JSON.stringify(image);
    document.getElementById('hidden-images').appendChild(inputDiv);

    const img = document.createElement('img');
    img.src = image.thumbnail;
    img.alt = '';
    img.onclick = function() {
        clickedThumbnail(image.hash, image.image);
    };

    const deleteButton = document.createElement('div');
    deleteButton.className = 'delete-image-button';
    deleteButton.onclick = function() {
        confirmDeleteImage(image.hash);
    };
    deleteButton.innerHTML = '<svg class="trash-background-image" height="33" width="33"><rect width="33" height="33" rx="4" fill="white"></rect></svg><i class="fas fa-trash-alt trash-icon"></i>';

    const thumbnailDiv = document.createElement('div');
    thumbnailDiv.className = 'thumbnail-image';
    thumbnailDiv.id = 'thumbnail-image-' + image.hash;
    thumbnailDiv.appendChild(img);
    thumbnailDiv.appendChild(deleteButton);

    document.getElementById('thumbnails').appendChild(thumbnailDiv);
}

function selectedDamageType(selectElement) {
    window.annoConf.damageType = selectElement.options[selectElement.selectedIndex].value;
}
{% endif %}

function clickedThumbnail(hash, image) {
    window.allAnnotationsVisible = true;
    resetAnnotations();

    var div = document.getElementById('annotation-history-timestamps');
    if(div != null) {
        while (div.firstChild) {
            div.removeChild(div.firstChild);
        }
        var ids = [];
        for (const id in window.annotationHistory[hash]) {
            ids.push(id);
        }
        for (var i = ids.length - 1; i >= 0; i--) {
            const id = ids[i];
            var newDiv = document.createElement('div');
            newDiv.id = 'annos-' + hash + '-' + id;
            var button = document.createElement('button');
            button.onclick = function () {
                toggleAnnotations(id);
            };
            button.type = 'button';
            button.id = 'show-hide-annos-' + hash + '-' + id;
            button.className = 'hide';
            var iEye = document.createElement('i');
            iEye.className = 'far fa-eye';
            var span = document.createElement('span');
            if (id === '999999999') {
                span.innerHTML = '{{ 'Current annotations' | trans }}';
                newDiv.className = 'show-hide-current-annos';
            } else {
                span.innerHTML = window.annotationHistory[hash][id];
            }
            button.appendChild(iEye);
            button.appendChild(span);
            newDiv.appendChild(button);

            var spanDiv = document.createElement('div');
            newDiv.appendChild(spanDiv);

            if (hash in window.addedAnnotations) {
                if (id in window.addedAnnotations[hash]) {
                    var annos = window.addedAnnotations[hash][id];
                    for (const id in annos) {
                        if (!window.annoIds.hasOwnProperty(id)) {
                            window.annoIds[id] = Object.keys(window.annoIds).length + 1;
                        }
                        if (annos[id].hasOwnProperty('body')) {
                            newDiv.style = 'display: block';
                            var styleClass = null;
                            if(annos[id].hasOwnProperty('target') && annos[id].target.hasOwnProperty('styleClass')) {
                                styleClass = annos[id].target.styleClass;
                            }
                            addAnnoHistSpan(spanDiv, null, id, annos[id].body, styleClass, true);
                        }
                    }
                }
            }
            if (hash in window.deletedAnnotations) {
                if (id in window.deletedAnnotations[hash]) {
                    var annos = window.deletedAnnotations[hash][id];
                    for (const id in annos) {
                        newDiv.style = 'display: block';
                        addAnnoHistSpan(spanDiv, null, id, null, null, false);
                    }
                }
            }
            div.appendChild(newDiv);
        }
    }

    if(image.endsWith('/info.json')) {
        window.osd_anno.open({
            'tileSource': image
        });
    } else {
        window.osd_anno.open({
            'tileSource': {
                'type': 'image',
                'url': image
            }
        });
    }

    window.currentImage = hash;
    window.allAnnotationsVisible = false;
    resetAnnotations();
}

function addNumberOverlays(osd, remove) {
    if(osd.world.getItemAt(0) === undefined) {
        return;
    }

    if(remove) {
        for (var i = 0; i < window.overlays.length; i++) {
            osd.removeOverlay(window.overlays[i].id);
            var ele = document.getElementById(window.overlays[i].id);
            if (ele != null) {
                ele.parentElement.removeChild(ele);
            }
        }
        window.overlays = [];

        if (!window.numberOverlays) {
            return;
        }
    }

    var annoEles = osd.element.getElementsByClassName('a9s-annotation');
    for (var j = 0; j < annoEles.length; j++) {
        if (annoEles[j].hasAttribute('data-id')) {
            var annoId = annoEles[j].getAttribute('data-id');
            if (window.annoIds.hasOwnProperty(annoId)) {
                var number = window.annoIds[annoId];
                var width = 15;
                var n = number;
                while(n > 0) {
                    n = Math.floor(n / 10);
                    width += 11;
                }

                var id = 'annotation-number-overlay-' + number;
                var bbox = annoEles[j].getBBox();

                var svg = document.createElementNS('http://www.w3.org/2000/svg', 'svg');
                svg.setAttribute('id', id);
                svg.setAttribute('width', width);
                svg.setAttribute('height', 26);

                var rect = document.createElementNS('http://www.w3.org/2000/svg', 'rect');
                rect.setAttribute('id', 'annotation-number-' + number);
                rect.setAttribute('width', width);
                rect.setAttribute('height', 26);
                rect.setAttribute('rx', 13);
                rect.setAttribute('fill', 'white');

                var text = document.createElementNS('http://www.w3.org/2000/svg', 'text');
                text.setAttribute('x', 7);
                text.setAttribute('y', 20);
                text.setAttribute('style', 'font-size: 20px');
                text.innerHTML = number;

                svg.appendChild(rect);
                svg.appendChild(text);

                document.getElementById('overlays').appendChild(svg);

                var point = new OpenSeadragon.Point(bbox.x + bbox.width / 2, bbox.y + bbox.height / 2);
                point = osd.world.getItemAt(0).imageToViewportCoordinates(point);
                var overlay = { id: id, x: point.x, y: point.y, placement: 'CENTER', checkResize: false };
                osd.addOverlay(overlay);
                if(remove) {
                    window.overlays.push(overlay);
                }

                document.getElementById(id).style.display = 'block';
            }
        }
    }

}

function addAnnoHistSpan(div, printDiv, id, body, styleClass, added) {
    var number = window.annoIds.hasOwnProperty(id) ? window.annoIds[id] : null;
    var divsToAdd = [];
    var printDivsToAdd = [];
    if (styleClass != null && added) {
        var layers = [];
        switch (styleClass) {
            case 'condition-red':
            case 'condition-green':
            case 'condition-blue':
            case 'condition-orange':
                layers.push(styleClass);
                break;
            case 'condition-red-green':
                layers.push('condition-red');
                layers.push('condition-green');
                break;
            case 'condition-red-blue':
                layers.push('condition-red');
                layers.push('condition-blue');
                break;
            case 'condition-green-blue':
                layers.push('condition-green');
                layers.push('condition-blue');
                break;
            case 'condition-red-green-blue':
                layers.push('condition-red');
                layers.push('condition-green');
                layers.push('condition-blue');
                break;
        }
        divsToAdd = addLayersToDiv(layers, div);
        if (printDiv !== null) {
            printDivsToAdd = addLayersToDiv(layers, printDiv);
        }
    } else {
        divsToAdd.push(div);
        if (printDiv !== null) {
            printDivsToAdd.push(printDiv);
        }
    }
    addDivsToHistory(divsToAdd, id, added, body, number, false);
    if (printDiv !== null) {
        addDivsToHistory(printDivsToAdd, id, added, body, number, true);
    }
}

function addDivsToHistory(divsToAdd, id, added, body, number, print) {

    for(var i = 0; i < divsToAdd.length; i++) {
        var span = document.createElement('div');
        if (added) {
            if(!print) {
                span.className = 'anno-hist anno-hist-' + id;
            } else {
                span.className = 'anno-hist';
            }

            var deleted = false;
            if(window.currentImage !== null && window.deletedAnnotations[window.currentImage] !== undefined) {
                for (const [reportId, deletedAnnos] of Object.entries(window.deletedAnnotations[window.currentImage])) {
                    if(deletedAnnos.includes(id)) {
                        deleted = true;
                        if(print) {
                            span.className = 'anno-hist-deleted';
                        } else {
                            span.className += ' anno-hist-deleted';
                        }
                        break;
                    }
                }
            }
            var text = null;
            if(body != null) {
                for(var j = 0; j < body.length; j++) {
                    if(body[j].hasOwnProperty('value') && body[j].value != null && body[j].value !== '') {
                        if (text == null) {
                            if(deleted) {
                                text = '<span class="anno-text anno-hist-deleted-span">';
                            } else {
                                text = '<span class="anno-text">';
                            }
                            text += body[j].value;
                        } else {
                            if(deleted) {
                                text = text + '<br/><span class="italic anno-hist-deleted-span">' + body[j].value + '</span>';
                            } else {
                                text = text + '<br/><span class="italic">' + body[j].value + '</span>';
                            }
                        }
                    }
                }
            }
            if (number === null) {
                span.innerHTML = text;
            } else if(text == null) {
                if(deleted) {
                    span.innerHTML = '<span class="anno-number anno-hist-deleted-span">' + number + '.</span>';
                } else {
                    span.innerHTML = '<span class="anno-number">' + number + '.</span>';
                }
            } else {
                if(deleted) {
                    span.innerHTML = '<span class="anno-number anno-hist-deleted-span">' + number + '. </span>' + text + '</span>';
                } else {
                    span.innerHTML = '<span class="anno-number">' + number + '. </span>' + text + '</span>';
                }
            }
        } else {
            span.className = 'anno-hist-deleted';
            if (number === null) {
                span.innerHTML = '({{ 'Deleted' | trans }})';
            } else {
                {% if app.request.locale == 'en' %}
                span.innerHTML = '({{ 'Deleted' | trans }} ' + number + '.)';
                {% else %}
                span.innerHTML = '(' + number + '. {{ 'deleted' | trans }})';
                {% endif %}
            }
        }
        if(!print) {
            span.onmouseover = function () {
                var eles = document.getElementsByClassName('a9s-outer');
                for (var i = 0; i < eles.length; i++) {
                    if (eles[i].parentElement.getAttribute('data-id') === id) {
                        eles[i].parentElement.classList.add('selected');
                    }
                }
                var spans = document.getElementsByClassName('anno-hist-' + id);
                if(spans !== null) {
                    for(var i = 0; i < spans.length; i++) {
                        spans[i].classList.add('anno-hist-hover');
                    }
                }
                if (number !== null) {
                    var ele = document.getElementById('annotation-number-' + number);
                    if (ele != null) {
                        ele.classList.add('highlighted-number');
                    }
                }
            };
            span.onmouseout = function () {
                var eles = document.getElementsByClassName('a9s-outer');
                for (var i = 0; i < eles.length; i++) {
                    if (eles[i].parentElement.getAttribute('data-id') === id) {
                        eles[i].parentElement.classList.remove('selected');
                    }
                }
                var spans = document.getElementsByClassName('anno-hist-' + id);
                if(spans !== null) {
                    for(var i = 0; i < spans.length; i++) {
                        spans[i].classList.remove('anno-hist-hover');
                    }
                }
                if (number !== null) {
                    var ele = document.getElementById('annotation-number-' + number);
                    if (ele != null) {
                        ele.classList.remove('highlighted-number');
                    }
                }
            };
            span.onclick = function () {
                if (window.anno.selectAnnotation(id) !== undefined) {
                    var spans = document.getElementsByClassName('anno-hist-' + id);
                    if(spans !== null) {
                        for(var i = 0; i < spans.length; i++) {
                            spans[i].classList.add('anno-hist-selected');
                        }
                    }
                    if (number !== null) {
                        var ele = document.getElementById('annotation-number-' + number);
                        if (ele != null) {
                            ele.classList.add('highlighted-number');
                        }
                    }
                }
            };
        }
        if (divsToAdd[i].childNodes.length < 2) {
            divsToAdd[i].appendChild(span);
        } else {
            divsToAdd[i].insertBefore(span, divsToAdd[i].firstChild.nextSibling);
        }
    }
}

function addLayersToDiv(layers, div) {
    var divsToAdd = [];
    for(var i = 0; i < layers.length; i++) {
        var layerDiv = div.querySelector('.' + layers[i]);
        if (layerDiv == null) {
            layerDiv = document.createElement('div');
            layerDiv.className = layers[i];
            var nameSpan = document.createElement('span');
            nameSpan.className = 'anno-hist-layer-span';
            layerDiv.appendChild(nameSpan);
            switch(layers[i]) {
                case 'condition-red': {
                    nameSpan.innerHTML = '{{ 'Paint layer' | trans }}';
                    var finishingLayer = div.querySelector('.condition-green');
                    if (finishingLayer != null) {
                        div.insertBefore(layerDiv, finishingLayer);
                    } else {
                        var frame = div.querySelector('.condition-orange');
                        if (frame != null) {
                            div.insertBefore(layerDiv, frame);
                        } else {
                            div.appendChild(layerDiv);
                        }
                    }
                    break;
                }
                case 'condition-green': {
                    nameSpan.innerHTML = '{{ 'Finishing layer' | trans }}';
                    var frame = div.querySelector('.condition-orange');
                    if (frame != null) {
                        div.insertBefore(layerDiv, frame);
                    } else {
                        div.appendChild(layerDiv);
                    }
                    break;
                }
                case 'condition-blue': {
                    nameSpan.innerHTML = '{{ 'Carrier' | trans }}';
                    if(div.childNodes.length === 0) {
                        div.appendChild(layerDiv);
                    } else {
                        div.insertBefore(layerDiv, div.firstChild);
                    }
                    break;
                }
                case 'condition-orange':
                    nameSpan.innerHTML = '{{ 'Frame' | trans }}';
                    div.appendChild(layerDiv);
                    break;
            }
        }
        divsToAdd.push(layerDiv);
    }
    return divsToAdd;
}

function refreshAnnotations(viewer, osd, remove) {
    var annotations = {};
    window.annotationNumber = 1;
    for (const id in window.annotationHistory[window.currentImage]) {
        if(!remove || window.annotationsVisible[window.currentImage][id]) {
            if (id in window.deletedAnnotations[window.currentImage]) {
                for (const delId of window.deletedAnnotations[window.currentImage][id]) {
                    delete annotations[delId];
                }
            }
            if (id in window.addedAnnotations[window.currentImage]) {
                for (const [annoId, anno] of Object.entries(window.addedAnnotations[window.currentImage][id])) {
                    annotations[annoId] = anno;
                }
            }
        }
    }
    var annos = [];
    for(const [ annoId, anno ] of Object.entries(annotations)) {
        annos.push(anno);
    }
    viewer.setAnnotations(annos);
    addNumberOverlays(osd, remove);
}

function toggleAnnotations(id) {
    window.annotationsVisible[window.currentImage][id] = !window.annotationsVisible[window.currentImage][id];
    var buttonId = 'show-hide-annos-' + window.currentImage + '-' + id;
    var showAnnotationsButton = document.getElementById(buttonId);
    if(!window.annotationsVisible[window.currentImage][id]) {
        //showAnnotationsButton.innerHTML = 'Toon';
        showAnnotationsButton.classList.remove('hide');
        showAnnotationsButton.classList.add('show');
    } else {
        //hideAnnotationsButton.innerHTML = 'Verberg';
        showAnnotationsButton.classList.remove('show');
        showAnnotationsButton.classList.add('hide');
    }

    var allVisible = true;
    for(const id in window.annotationHistory[window.currentImage]) {
        if(!window.annotationsVisible[window.currentImage][id]) {
            allVisible = false;
            break;
        }
    }
    window.allAnnotationsVisible = allVisible;
    setShowHideAllButton();
    refreshAnnotations(window.anno, window.osd_anno, true);
}

function setShowHideAllButton() {
    var showAllAnnotationsButton = document.getElementById('show-hide-all-annos');
    if(showAllAnnotationsButton != null) {
        if (window.allAnnotationsVisible) {
            showAllAnnotationsButton.innerHTML = '<i class="far fa-eye"></i><span>{{ 'Hide all' | trans }}</span>';
            showAllAnnotationsButton.classList.remove('show');
            showAllAnnotationsButton.classList.add('hide');
        } else {
            showAllAnnotationsButton.innerHTML = '<i class="far fa-eye"></i><span>{{ 'Show all' | trans }}</span>';
            showAllAnnotationsButton.classList.remove('hide');
            showAllAnnotationsButton.classList.add('show');
        }
    }
}

function toggleNumberOverlays(osd) {
    window.numberOverlays = !window.numberOverlays;
    var numberOverlaysButton = document.getElementById('show-hide-numbers');
    if(window.numberOverlays) {
        numberOverlaysButton.innerHTML = '<i class="far fa-eye"></i><span>1</span>';
        numberOverlaysButton.classList.remove('show');
        numberOverlaysButton.classList.add('hide');
    } else {
        numberOverlaysButton.innerHTML = '<i class="far fa-eye"></i><span>1</span>';
        numberOverlaysButton.classList.remove('hide');
        numberOverlaysButton.classList.add('show');
    }
    addNumberOverlays(osd, true);
}

function resetAnnotations() {
    window.allAnnotationsVisible = !window.allAnnotationsVisible;
    setShowHideAllButton();
    for (const id in window.annotationHistory[window.currentImage]) {
        window.annotationsVisible[window.currentImage][id] = window.allAnnotationsVisible;
        var showAllButton = document.getElementById('show-hide-annos-' + window.currentImage + '-' + id);
        if(window.allAnnotationsVisible) {
            showAllButton.classList.remove('show');
            showAllButton.classList.add('hide');
        } else {
            showAllButton.classList.remove('hide');
            showAllButton.classList.add('show');
        }
    }
    refreshAnnotations(window.anno, window.osd_anno, true);
}

{% if not readonly %}
    function setDrawingTool(drawingTool) {
        if(!window.annotationsVisible[window.currentImage]['999999999']) {
            toggleAnnotations('999999999');
        }
        window.anno.setDrawingTool(drawingTool);
        window.anno.setDrawingEnabled(true);
        window.drawingEnabled = true;

        var drawingToolButtons = document.getElementsByName('drawing-tools');

        for (var i = 0; i < drawingToolButtons.length; i++) {
            if (drawingToolButtons[i].value === drawingTool) {
                drawingToolButtons[i].classList.add('drawing-tool-active');
                drawingToolButtons[i].classList.remove('drawing-tool-inactive');
            } else {
                drawingToolButtons[i].classList.add('drawing-tool-inactive');
                drawingToolButtons[i].classList.remove('drawing-tool-active');
            }
        }
    }

    var colours = document.querySelectorAll('input[name="choose-colour"]');

    for (var i = 0; i < colours.length; i++) {
        colours[i].onchange = chooseColour;
    }

    var style = document.createElement('style');

    function chooseColour() {
        for (var i = 0; i < colours.length; i++) {
            if (colours[i] === this) {
                selectedColour = colours[i].value;
                if (selectedColour === 'red') {
                    style.innerHTML = `
                        .fill-pattern-line {
                            stroke: rgb(255,0,0) !important;
                        }
                    `;
                } else if (selectedColour === 'green') {
                    style.innerHTML = `
                        .fill-pattern-line {
                            stroke: rgb(0,255,0) !important;
                        }
                    `;
                } else if (selectedColour === 'blue') {
                    style.innerHTML = `
                        .fill-pattern-line {
                            stroke: rgb(0,0,255) !important;
                        }
                    `;
                } else if (selectedColour === 'orange') {
                    style.innerHTML = `
                        .fill-pattern-line {
                            stroke: rgb(255,165,0) !important;
                        }
                    `;
                }
                document.head.appendChild(style);
            }
        }
    }

    window.setInterval(function() {
        if (window.drawingEnabled && !window.anno._app.current.annotationLayer.mouseTracker.isTracking()) {
            window.drawingEnabled = false;
            var buttons = document.getElementsByClassName('drawing-tool-active');
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.add('drawing-tool-inactive');
                buttons[i].classList.remove('drawing-tool-active');
            }
            var selectElements = document.getElementsByClassName('annotation-select');
            for (var j = 0; j < selectElements.length; j++) {
                selectElements[j].selectedIndex = 0;
            }
            window.annoConf.damageType = '';
        }
    }, 100);
{% endif %}
</script>
