{% if readonly %}
    {% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}
        <input name="{{ name }}" type="checkbox" checked disabled/> <label for="{{ name }}">{{ label }}</label>
    {% endif %}
{% else %}
    <input name="{{ name }}" type="checkbox"{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %} checked{% endif %}{% if disabled is defined and disabled %} disabled{% endif %}/> <label for="{{ name }}">{{ label }}</label>
{% endif %}
