{% if readonly %}
    {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty and (prefilled_data[name] is defined and prefilled_data[name] is not empty or prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty) %}
        {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}
            <div class="checkbox-conservation-custom-label-and-input">
                {% if label is defined %}<span class="readonly-label">{{ label }}: </span>{% endif %}
                <span class="readonly-input">{{ prefilled_data[name ~ '_custom_text'] }}</span>
            </div>
        {% endif %}
        <input id="{{ name }}_checkbox" name="{{ name }}_checkbox" type="checkbox" checked disabled/>
        <label for="{{ name }}_checkbox">{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}{{ prefilled_data[name] }}{% endif %}</label>
        {% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}<span class="readonly-input">{{ prefilled_data[name ~ '_text'] }}</span>{% endif %}
    {% endif %}
{% else %}
    <div class="checkbox-conservation-custom-label-and-input">
        {% if label is defined %}
            <label for="{{ name }}_checkbox">{{ label }}</label>
        {% endif %}
        <input type="text" id="{{ name }}_checkbox_custom_text" name="{{ name }}_custom_text" oninput="this.parentElement.parentElement.querySelectorAll('#{{ name }}_checkbox')[0].checked = this.value !== '' && (this.parentElement.parentElement.querySelectorAll('#{{ name }}_checkbox_number')[0].value !== '' || this.parentElement.parentElement.querySelectorAll('#{{ name }}_checkbox_text')[0].value !== '');" value="{% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}{{ prefilled_data[name ~ '_custom_text'] }}{% endif %}"{% if disabled is defined and disabled %} disabled{% endif %}/>
    </div>
    <input id="{{ name }}_checkbox" name="{{ name }}_checkbox" type="checkbox"{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %} checked{% endif %} onclick="if(!this.parentElement.querySelectorAll('#{{ name }}_checkbox')[0].checked) { this.parentElement.querySelectorAll('#{{ name }}_checkbox_custom_text')[0].value = ''; this.parentElement.querySelectorAll('#{{ name }}_checkbox_number')[0].value = ''; this.parentElement.querySelectorAll('#{{ name }}_checkbox_text')[0].value = ''; }"{% if disabled is defined and disabled %} disabled{% endif %}/>
    <input type="number" id="{{ name }}_checkbox_number" name="{{ name }}" value="{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}{{ prefilled_data[name] }}{% endif %}" oninput="this.parentElement.querySelectorAll('#{{ name }}_checkbox')[0].checked = this.parentElement.querySelectorAll('#{{ name }}_checkbox_custom_text')[0].value !== '' && (this.value !== '' || this.parentElement.querySelectorAll('#{{ name }}_checkbox_text')[0].value !== '');"{% if disabled is defined and disabled %} disabled{% endif %}/>
    <input type="text" id="{{ name }}_checkbox_text" name="{{ name }}_text" value="{% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}{{ prefilled_data[name ~ '_text'] }}{% endif %}" oninput="this.parentElement.querySelectorAll('#{{ name }}_checkbox')[0].checked = this.parentElement.querySelectorAll('#{{ name }}_checkbox_custom_text')[0].value !== '' && (this.value !== '' || this.parentElement.querySelectorAll('#{{ name }}_checkbox_number')[0].value !== '');"{% if disabled is defined and disabled %} disabled{% endif %}/>
{% endif %}
