{% if readonly %}
    {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty and (prefilled_data[name] is defined and prefilled_data[name] is not empty or prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty) %}
        {% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}
            <div class="checkbox-conservation-custom-label-and-input">
                {% if label is defined %}<span class="readonly-label">{{ label }}: </span>{% endif %}
                <span class="readonly-input">{{ prefilled_data[name ~ '_custom_text'] }}</span>
            </div>
        {% endif %}
        <input id="{{ name }}_checkbox_right_text" name="{{ name }}_checkbox" type="checkbox" checked disabled/>
        <label for="{{ name }}_checkbox_right_text">{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}{{ prefilled_data[name] }}{% endif %}</label>
        {% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}<span class="readonly-input">{{ prefilled_data[name ~ '_text'] }}</span>{% endif %}
    {% endif %}
{% else %}
    <div class="checkbox-conservation-custom-label-and-input">
        {% if label is defined %}
            <label for="{{ name }}_checkbox_right_text">{{ label }}</label>
        {% endif %}
        <input type="text" id="{{ name }}_checkbox_right_text_text" name="{{ name }}_custom_text" oninput="document.getElementById('{{ name }}_checkbox_right_text').checked = this.value != '' && (document.getElementById('{{ name }}_checkbox_right_text_number').value != '' || document.getElementById('{{ name }}_checkbox_right_text_text').value != '');" value="{% if prefilled_data[name ~ '_custom_text'] is defined and prefilled_data[name ~ '_custom_text'] is not empty %}{{ prefilled_data[name ~ '_custom_text'] }}{% endif %}"/>
    </div>
    <input id="{{ name }}_checkbox_right_text" name="{{ name }}_checkbox" type="checkbox"{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %} checked{% endif %} onclick="if(!document.getElementById('{{ name }}_checkbox_right_text').checked) { document.getElementById('{{ name }}_checkbox_right_text_text').value = ''; document.getElementById('{{ name }}_checkbox_right_text_number').value = ''; document.getElementById('{{ name }}_checkbox_right_text_text_text').value = ''; }"/>
    <input type="number" id="{{ name }}_checkbox_right_text_number" name="{{ name }}" value="{% if prefilled_data[name] is defined and prefilled_data[name] is not empty %}{{ prefilled_data[name] }}{% endif %}" oninput="document.getElementById('{{ name }}_checkbox_right_text').checked = document.getElementById('{{ name }}_checkbox_right_text').value != '' && (this.value != '' || document.getElementById('{{ name }}_checkbox_right_text_text').value != '');"/>
    <input type="text" id="{{ name }}_checkbox_right_text_text_text" name="{{ name }}_text" value="{% if prefilled_data[name ~ '_text'] is defined and prefilled_data[name ~ '_text'] is not empty %}{{ prefilled_data[name ~ '_text'] }}{% endif %}" oninput="document.getElementById('{{ name }}_checkbox_right_text').checked = document.getElementById('{{ name }}_checkbox_right_text').value != '' && (this.value != '' || document.getElementById('{{ name }}_checkbox_right_text_number').value != '');"/>
{% endif %}
