{% set general_conditions = [ 'good', 'reasonable', 'bad', 'not_transportable', 'not_displayable' ] %}

{% set damages = { 'default': [] } %}
{% set conservation_treatments = { 'default': [] } %}
{% set restoration_treatments = { 'default': [] } %}
{% set researches = { 'default': [] } %}

{% set these_damages = damages.default %}
{% set these_conservation_treatments = conservation_treatments.default %}
{% set these_restoration_treatments = restoration_treatments.default %}
{% set these_researches = researches.default %}

{% for object_type in object_types %}
    {% if report_fields.damages[object_type] is defined %}
        {% set damages = damages | merge({ (object_type): report_fields.damages[object_type] }) %}
    {% else %}
        {% set damages = damages | merge({ (object_type): report_fields.damages['default'] }) %}
    {% endif %}

    {% if report_fields.conservation_treatments[object_type] is defined %}
        {% set conservation_treatments = conservation_treatments | merge({ (object_type): report_fields.conservation_treatments[object_type] }) %}
    {% else %}
        {% set conservation_treatments = conservation_treatments | merge({ (object_type): report_fields.conservation_treatments['default'] }) %}
    {% endif %}

    {% if report_fields.restoration_treatments[object_type] is defined %}
        {% set restoration_treatments = restoration_treatments | merge({ (object_type): report_fields.restoration_treatments[object_type] }) %}
    {% else %}
        {% set restoration_treatments = restoration_treatments | merge({ (object_type): report_fields.restoration_treatments['default'] }) %}
    {% endif %}

    {% if report_fields.researches[object_type] is defined %}
        {% set researches = researches | merge({ (object_type): report_fields.researches[object_type] }) %}
    {% else %}
        {% set researches = researches | merge({ (object_type): report_fields.researches['default'] }) %}
    {% endif %}

    {% if prefilled_data.object_type is defined and prefilled_data.object_type == object_type %}
        {% set these_damages = damages[object_type] %}
        {% set these_conservation_treatments = conservation_treatments[object_type] %}
        {% set these_restoration_treatments = restoration_treatments[object_type] %}
        {% set these_researches = researches[object_type] %}
    {% endif %}
{% endfor %}

{% set has_carrier_damage = false %}
{% set has_finishing_layer_damage = false %}
{% for damage in these_damages %}
    {% if prefilled_data['carrier_damage_' ~ damage] is defined %}
        {% set has_carrier_damage = true %}
    {% endif %}
    {% if prefilled_data['finishing_layer_damage_' ~ damage] is defined %}
        {% set has_finishing_layer_damage = true %}
    {% endif %}
{% endfor %}

{% set has_conservation_treatment = false %}
{% for conservation_treatment in these_conservation_treatments %}
    {% if prefilled_data['conservation_treatment_' ~ conservation_treatment] is defined %}
        {% set has_conservation_treatment = true %}
    {% endif %}
{% endfor %}

{% set has_restoration_treatment = false %}
{% for restoration_treatment in these_restoration_treatments %}
    {% if prefilled_data['restoration_treatment_' ~ restoration_treatment] is defined %}
        {% set has_restoration_treatment = true %}
    {% endif %}
{% endfor %}

{% set has_research_needed = false %}
{% for research in these_researches %}
    {% if prefilled_data['research_needed_' ~ research] is defined %}
        {% set has_research_needed = true %}
    {% endif %}
{% endfor %}

{% if not readonly or prefilled_data.general_condition is defined or has_carrier_damage or has_finishing_layer_damage or prefilled_data.condition_specification is defined or prefilled_data.conservation_before_transport_yes is defined or prefilled_data.conservation_before_transport_no is defined or has_conservation_treatment or has_restoration_treatment or has_research_needed %}
<div id="condition-form"{% if not readonly %} class="form-tab"{% endif %}>

    {% if not readonly or prefilled_data.general_condition is defined or has_carrier_damage or has_finishing_layer_damage or prefilled_data.condition_specification is defined %}
        <div class="report-header">{{ 'Condition of the object' | trans }}</div>
    {% endif %}
    {% if not readonly or prefilled_data.general_condition is defined %}
        <div class="form-group">
            <div class="report-header-2">{{ 'General condition' | trans }}</div>
            <div class="form-subgroup">
                <div class="form-item">
                    {% for general_condition in general_conditions %}
                        <div class="form-radio">{% include 'radio.html.twig' with { 'name': 'general_condition', 'value': 'general_condition_' ~ general_condition, 'label': general_condition | trans } %}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or has_carrier_damage or has_finishing_layer_damage or prefilled_data.condition_specification is defined %}
        <div class="form-group">
            <div class="report-header-2">{{ 'Specific condition of the object' | trans }}</div>
            {% if not readonly or has_carrier_damage or has_finishing_layer_damage %}
                {% for object_type in object_types %}
                    <div class="form-subgroup report-row">
                        {% if not readonly or has_carrier_damage %}
                            <div class="form-item report-column" id="damages-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                                <div class="report-header-2">{{ 'Carrier' | trans }}</div>
                                {% for damage in damages[object_type] %}
                                    {% if damage == 'custom' %}
                                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'carrier_damage_custom', 'disabled': this_object_type != object_type } %}</div>
                                    {% else %}
                                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'carrier_damage_' ~ damage, 'label': damage | trans, 'disabled': this_object_type != object_type } %}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if not readonly or has_finishing_layer_damage %}
                            <div class="form-item report-column" id="damages-finishing-layer-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                                <div class="report-header-2">{{ 'Finishing layer' | trans }}</div>
                                {% for damage in damages[object_type] %}
                                    {% if damage == 'custom' %}
                                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'finishing_layer_damage_custom', 'disabled': this_object_type != object_type } %}</div>
                                    {% else %}
                                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'finishing_layer_damage_' ~ damage, 'label': damage | trans, 'disabled': this_object_type != object_type } %}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="no-spaces">{% include 'textarea.html.twig' with { 'name': 'condition_specification', 'label': 'Specifications' | trans } %}</div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.conservation_before_transport_yes is defined or prefilled_data.conservation_before_transport_no is defined
        or has_conservation_treatment or has_restoration_treatment or has_research_needed %}
        <div class="report-header">{{ 'Conservation' | trans }}</div>
    {% endif %}

    {% if not readonly or prefilled_data.conservation_before_transport is defined %}
        <div class="form-group">
            <div class="report-header-2">{{ 'Conservation for transport needed' | trans }}</div>
            <div class="form-subgroup">
                <div class="form-item">
                    <div class="form-radio">{% include 'radio.html.twig' with { 'name': 'conservation_before_transport', 'value': 'yes', 'label': 'Yes' | trans } %}</div>
                    <div class="form-radio">{% include 'radio.html.twig' with { 'name': 'conservation_before_transport', 'value': 'no', 'label': 'No' | trans } %}</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or has_conservation_treatment %}
        {% for object_type in object_types %}
            <div class="form-group" id="conservation-treatment-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                <div class="report-header-2">{{ 'Conservation treatment' | trans }}</div>
                <div class="report-legend">{{ 'Degree of urgency (very urgent) 1 - 2 - 3 (not urgent)' | trans }}</div>
                {% for conservation_treatment in conservation_treatments[object_type] %}
                    <div class="form-subgroup">
                        <div class="form-item">
                            {% if conservation_treatment == 'custom' %}
                                <div class="form-checkbox-conservation-custom">{% include 'checkbox_conservation_custom.html.twig' with { 'name': 'conservation_treatment_custom', 'label': 'Other' | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% else %}
                                <div class="form-checkbox-conservation">{% include 'checkbox_conservation.html.twig' with { 'name': 'conservation_treatment_' ~ conservation_treatment, 'label': conservation_treatment | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-subgroup">
                    <div class="form-item">
                        <div class="treatment-hours">{% include 'number.html.twig' with { 'name': 'conservation_treatment_hours', 'label': 'Estimated work hours' | trans, 'disabled': this_object_type != object_type } %}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if not readonly or has_restoration_treatment %}
        {% for object_type in object_types %}
            <div class="form-group" id="restoration-treatment-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                <div class="report-header-2">{{ 'Restoration treatment' | trans }}</div>
                <div class="report-legend">{{ 'Degree of urgency (very urgent) 1 - 2 - 3 (not urgent)' | trans }}</div>
                {% for restoration_treatment in restoration_treatments[object_type] %}
                    <div class="form-subgroup">
                        <div class="form-item">
                            {% if restoration_treatment == 'custom' %}
                                <div class="form-checkbox-conservation-custom">{% include 'checkbox_conservation_custom.html.twig' with { 'name': 'restoration_treatment_custom', 'label': 'Other' | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% else %}
                                <div class="form-checkbox-conservation">{% include 'checkbox_conservation.html.twig' with { 'name': 'restoration_treatment_' ~ restoration_treatment, 'label': restoration_treatment | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-subgroup">
                    <div class="form-item">
                        <div class="treatment-hours">{% include 'number.html.twig' with { 'name': 'restoration_treatment_hours', 'label': 'Estimated work hours' | trans } %}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if not readonly or has_research_needed %}
        {% for object_type in object_types %}
            <div class="form-group" id="research-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                <div class="report-header-2">{{ 'Further research needed' | trans }}</div>
                {% for research in researches[object_type] %}
                    <div class="form-subgroup">
                        <div class="form-item">
                            {% if research == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'research_needed_custom', 'disabled': this_object_type != object_type } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'research_needed_' ~ research, 'label': research | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    {% if not readonly %}
        <div class="buttons">
            <div class="previous-button">
                <button type="button" onclick="showDiv('material-form', true)">{{ 'Previous' | trans }}</button>
            </div>
            <div class="next-button">
                <button type="button" onclick="showDiv('recommendations-form', true)">{{ 'Next' | trans }}</button>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}
