<!DOCTYPE html>
<html>
<head>
    <title>IIIF conditierapport{% if prefilled_data.title_nl is defined %} - {{ prefilled_data.title_nl }}{% endif %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/annotorious.min.css') }}">
    <script src="{{ asset('js/openseadragon.2.4.2.min.js') }}"></script>
    <script src="{{ asset('js/annotorious-selector-pack.min.js') }}"></script>
    <script src="{{ asset('js/openseadragon-annotorious.min.js') }}"></script>
</head>
<body>

<script>
    function toggleField(hideObj, showObj) {
        hideObj.disabled = true;
        hideObj.style.display = 'none';
        showObj.disabled = false;
        showObj.style.display = 'inline';
        showObj.focus();
    }

    // Execute any functions that are to be loaded on page load
    // We have to do this for textareas whose height can only be dermined when visible
    function nextPrev(hideId, showId) {
        var hideObj = document.getElementById(hideId);
        var showObj = document.getElementById(showId);
        hideObj.style.position = 'absolute';
        hideObj.style.top = '-9999px';
        hideObj.style.left = '-9999px';
        showObj.style.position = 'relative';
        showObj.style.top = '0';
        showObj.style.left = '0';
        if(typeof eventsToTrigger !== 'undefined') {
            for (var e in eventsToTrigger) {
                eval(eventsToTrigger[e] + "()");
            }
        }
        window.scrollTo(0, 0);
    }
</script>
<form action="{{ path('save', { type: 'existing' }) }}" method="POST">
    <div id="basic-info-form" style="position: absolute; top: -9999px; left: -9999px;">
        {% include 'basic_info.twig' %}
        <div>
            <div style="float:right;">
                <button type="button" onclick="nextPrev('basic-info-form', 'actors-form')">Volgende</button>
            </div>
        </div>
    </div>
    <div id="actors-form" style="position: absolute; top: -9999px; left: -9999px;">
        {% include 'actors.html.twig' %}
        <div>
            <div style="float:left;">
                <button type="button" onclick="nextPrev('actors-form', 'basic-info-form')">Vorige</button>
            </div>
            <div style="float:right;">
                <button type="button" onclick="nextPrev('actors-form', 'condition-form')">Volgende</button>
            </div>
        </div>
    </div>
    <div id="material-form" style="position: absolute; top: -9999px; left: -9999px;">
        {% include 'material_construction.html.twig' %}
        <div>
            <div style="float:left;">
                <button type="button" onclick="nextPrev('material-form', 'actors-form')">Vorige</button>
            </div>
            <div style="float:right;">
                <button type="button" onclick="nextPrev('material-form', 'condition-form')">Volgende</button>
            </div>
        </div>
    </div>
    <div id="condition-form" style="position: absolute; top: -9999px; left: -9999px;">
        {% include 'condition.html.twig' %}
        <div>
            <div style="float:left;">
                <button type="button" onclick="nextPrev('condition-form', 'material-form')">Vorige</button>
            </div>
            <div style="float:right;">
                <button type="button" onclick="nextPrev('condition-form', 'annotate-form')">Volgende</button>
            </div>
        </div>
    </div>
    <div id="annotate-form">
        {% include 'annotate.html.twig' %}
        <div>
            <div style="float:left;">
                <button type="button" onclick="nextPrev('annotate-form', 'condition-form')">Vorige</button>
            </div>
            <div style="float:right;">
                <input type="submit" value="Rapport verzenden">
            </div>
        </div>
    </div>
</form>

{% include 'footer.html.twig' %}
