{{ include('header.html.twig') }}
<script>
    function toggleField(hideObj,showObj) {
        hideObj.disabled=true;
        hideObj.style.display='none';
        showObj.disabled=false;
        showObj.style.display='inline';
        showObj.focus();
    }
</script>
<form action="{{ path('annotate_blank') }}" method="POST">
    Aanleiding:
    <select name="reason" onchange="if(this.options[this.selectedIndex].value=='customOption') {
        toggleField(this,this.nextSibling);
        this.selectedIndex='0';
    }">
        <option></option>
        {% for key, reason_type in report_reasons %}
            <optgroup label="{{ reason_type.name }}">
                {% for id, reason in reason_type.options %}
                <option value="{{ id }}">{{ reason }}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
        <option value="customOption">Andere</option>
    </select><input name="reason" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
    <input type="submit" value="Submit">
</form>

<p>{{ prefilled_data | json_encode | raw }}</p>
{{ include('footer.html.twig') }}
