{{ include('header.html.twig') }}
{% if id == '' %}
    {{ form(form) }}
    {% if search_results is not null %}
        {% if search_results is empty %}
            <p>Geen inventarisnummers gevonden.</p>
        {% else %}
            <div class="create">
                <div class="create-header">
                    <div class="create-cell">Thumbnail</div>
                    <div class="create-cell">Inventarisnummer</div>
                    <div class="create-cell">Titel</div>
                    <div class="create-cell">Vervaardiger</div>
                </div>
                {% for result in search_results %}
                    <a class="create-row" href="{{ path('create', { type: 'new', id : result.id }) }}">
                        <div class="create-cell"><img src="{{  result.thumbnail }}" alt="" /></div>
                        <div class="create-cell">{{  result.inventory_number }}</div>
                        <div class="create-cell">{{  result.title }}</div>
                        <div class="create-cell">{{  result.creator }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% else %}
    <script>
        function toggleField(hideObj,showObj) {
            hideObj.disabled=true;
            hideObj.style.display='none';
            showObj.disabled=false;
            showObj.style.display='inline';
            showObj.focus();
        }
    </script>
    <form action="{{ path('annotate', { type: type, id: id }) }}" method="POST">
        Aanleiding:
        <select name="reason" onchange="if(this.options[this.selectedIndex].value=='customOption') {
            toggleField(this,this.nextSibling);
            this.selectedIndex='0';
        }">
            <option></option>
            {% for key, reason_type in report_reasons %}
                <optgroup label="{{ reason_type.name }}">
                    {% for id, reason in reason_type.options %}
                    <option value="{{ id }}">{{ reason }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
            <option value="customOption">Andere</option>
        </select><input name="reason" style="display:none;" disabled="disabled" onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
        <input type="submit" value="Submit">
    </form>
    <p>{{ report_reasons | json_encode | raw }}</p>
    <p>{{ prefilled_data | json_encode | raw }}</p>
{% endif %}
{{ include('footer.html.twig') }}
