{% include 'header.html.twig' %}
<div class="disclaimer">
    <div class="header">{{ 'Attention, personal data!' | trans }}</div>

    <h1>{{ 'Privacy-sensitive data is collected via this tool. So please read this important information:' | trans }}</h1>

    <p>{{ 'The collected data (names, e-mail address and employing organisation) can never be disclosed, nor passed on to third parties, unless one is obliged to do so by an authorized government agency or when this proves essential as a result of a necessary step in the regular follow-up of the loan agreement in the framework for which a condition report is drawn up by means of this tool. The information collected can only be used in connection with the actions logically resulting from this loan agreement.' | trans }}</p>

    <p>{{ 'The personal data may be processed and archived in internal databases of the lending organisation, for as long as necessary, and only for the purpose of correct lending practice or resulting actions. The data can in no way be used for direct marketing.' | trans }}</p>

    <p>{{ 'In accordance with the Personal Data Processing Act of 08/12/1992, every user of this tool has a legal right to access and correct their personal data on simple request.' | trans }}</p>

    <p>{{ 'This tool collects anonymous or aggregated personal data of a non-personal nature for a maximum of 2 weeks, such as browser type or IP address, the operating program that the user uses, ... for the proper functioning of the tool. After this period, this data is automatically deleted.' | trans }}</p>

    <p>{{ 'For more information or for complaints about the handling of personal data, you can contact the Commission for the protection of privacy at the Ministry of Justice, Waterloolaan 115, 1000 Brussels.' | trans }}</p>
</div>
{% include 'footer.html.twig' %}
