{% set construction_frame = [ 'loose', 'fixed', 'original', 'not_original' ] %}

{% set measurements = { 'default': [] } %}
{% set materials = { 'default': [] } %}
{% set finishing_layers = { 'default': [] } %}
{% set connections = { 'default': [] } %}

{% set these_measurements = measurements.default %}
{% set these_materials = materials.default %}
{% set these_finishing_layers = finishing_layers.default %}
{% set these_connections = connections.default %}

{% for object_type in object_types %}
    {% if report_fields.measurements[object_type] is defined %}
        {% set measurements = measurements | merge({ (object_type): report_fields.measurements[object_type] }) %}
    {% else %}
        {% set measurements = measurements | merge({ (object_type): report_fields.measurements['default'] }) %}
    {% endif %}

    {% if report_fields.materials[object_type] is defined %}
        {% set materials = materials | merge({ (object_type): report_fields.materials[object_type] }) %}
    {% else %}
        {% set materials = materials | merge({ (object_type): report_fields.materials['default'] }) %}
    {% endif %}

    {% if report_fields.finishing_layers[object_type] is defined %}
        {% set finishing_layers = finishing_layers | merge({ (object_type): report_fields.finishing_layers[object_type] }) %}
    {% else %}
        {% set finishing_layers = finishing_layers | merge({ (object_type): report_fields.finishing_layers['default'] }) %}
    {% endif %}

    {% if report_fields.connections[object_type] is defined %}
        {% set connections = connections | merge({ (object_type): report_fields.connections[object_type] }) %}
    {% else %}
        {% set connections = connections | merge({ (object_type): report_fields.connections['default'] }) %}
    {% endif %}

    {% if prefilled_data.object_type is defined and prefilled_data.object_type == object_type %}
        {% set these_measurements = measurements[object_type] %}
        {% set these_materials = materials[object_type] %}
        {% set these_finishing_layers = finishing_layers[object_type] %}
        {% set these_connections = connections[object_type] %}
    {% endif %}
{% endfor %}

{% set has_measurement = false %}
{% for measurement_part in these_measurements %}
    {% for item, label in measurement_part.items %}
        {% if prefilled_data[item] is defined %}
            {% set has_measurement = true %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% set has_material = false %}
{% set has_frame = false %}
{% for material in these_materials %}
    {% if prefilled_data['material_' ~ material] is defined %}
        {% set has_material = true %}
    {% endif %}
    {% if prefilled_data['frame_' ~ material] is defined %}
        {% set has_frame= true %}
    {% endif %}
{% endfor %}

{% set has_construction_frame = false %}
{% for construction in construction_frame %}
    {% if prefilled_data['contruction_frame_' ~ construction] is defined %}
        {% set has_construction_frame = true %}
    {% endif %}
{% endfor %}

{% set has_finishing_layer = false %}
{% for finishing_layer in these_finishing_layers %}
    {% if prefilled_data['finishing_layer_' ~ finishing_layer] is defined %}
        {% set has_finishing_layer = true %}
    {% endif %}
{% endfor %}

{% set has_connection_work = false %}
{% set has_connection_pedestal = false %}
{% for connection in these_connections %}
    {% if prefilled_data['connections_work_' ~ connection] is defined %}
        {% set has_connection_work = true %}
    {% endif %}
    {% if this_object_type == 'sculpture' and prefilled_data['connections_pedestal_' ~ connection] is defined %}
        {% set has_connection_pedestal = true %}
    {% endif %}
{% endfor %}

{% if not readonly or has_measurement
    or has_material or has_frame or prefilled_data.material_specification is defined
    or has_finishing_layer or prefilled_data.finishing_layer_specification is defined
    or prefilled_data.material_production is defined or prefilled_data.form_relief is defined
    or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined
    or prefilled_data.construction_work_number_of_parts is defined or prefilled_data.construction_work_loose is defined
    or prefilled_data.construction_work_fixed is defined or prefilled_data.construction_work_custom is defined
    or has_construction_frame or has_connection_work or has_connection_pedestal %}
<div id="material-form"{% if not readonly %} class="form-tab"{% endif %}>

    {% if not readonly or has_measurement %}
        <div class="report-header">{{ 'Measurements and weight' | trans }}</div>
        {% for object_type in object_types %}
            <div class="form-group" id="measurements-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                {% set has_measurement_item = false %}
                {% if this_object_type == object_type %}
                    {% for measurement_part in measurements[object_type] %}
                        {% for item, label in measurement_part.items %}
                            {% if prefilled_data[item] is defined %}
                                {% set has_measurement_item = true %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                {% if not readonly or has_measurement_item %}
                    {% for measurement_part in measurements[object_type] %}
                        {% if measurement_part.header is not empty %}
                            <div class="report-header-2">{{ measurement_part.header | trans }}</div>
                        {% endif %}
                        <div class="form-subgroup">
                            {% for item, label in measurement_part.items %}
                                <div class="form-item">{% include 'textfield.html.twig' with { 'name': item, 'label': label | trans, 'disabled': this_object_type != object_type } %}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    {% if not readonly or has_material or has_frame or prefilled_data.material_specification is defined or has_finishing_layer
        or prefilled_data.finishing_layer_specification is defined or prefilled_data.material_production is defined %}
        <div class="report-header">{{ 'Material type' | trans }}</div>
    {% endif %}

    {% if not readonly or has_material or has_frame or prefilled_data.material_specification is defined %}
        <div class="form-group">
            {% if not readonly or has_material or has_frame %}
                {% for object_type in object_types %}
                    <div class="form-subgroup report-row">
                        {% if not readonly or has_material %}
                            <div class="form-item report-column" id="materials-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                                <div class="report-header-2">{% if object_type == 'sculpture' %}{{ 'Work' | trans }}{% else %}{{ 'Carrier' | trans }}{% endif %}</div>
                                {% for material in materials[object_type] %}
                                    {% if material == 'custom' %}
                                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'material_custom', 'disabled': this_object_type != object_type } %}</div>
                                    {% else %}
                                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'material_' ~ material, 'label': material | trans, 'disabled': this_object_type != object_type } %}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if not readonly or has_frame %}
                            <div class="form-item report-column" id="materials-frame-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                                <div class="report-header-2">{% if object_type == 'sculpture' %}{{ 'Pedestal' | trans }}{% else %}{{ 'Frame' | trans }}{% endif %}</div>
                                {% for material in materials[object_type] %}
                                    {% if material == 'custom' %}
                                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'frame_custom', 'disabled': this_object_type != object_type } %}</div>
                                    {% else %}
                                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'frame_' ~ material, 'label': material | trans, 'disabled': this_object_type != object_type } %}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if not readonly or prefilled_data.material_specification is defined %}
                <div>
                    <div class="no-spaces">{% include 'textarea.html.twig' with { 'name': 'material_specification', 'label': 'Material specification' | trans } %}</div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if not readonly or has_finishing_layer or prefilled_data.finishing_layer_specification is defined %}
        <div class="form-group">
            {% if not readonly or has_finishing_layer %}
                {% for object_type in object_types %}
                    <div id="finishing-layer-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                        <div class="report-header-2">{{ 'Finishing layer' | trans }}</div>
                        {% for finishing_layer in finishing_layers[object_type] %}
                            {% if finishing_layer == 'custom' %}
                                <div class="form-subgroup report-row">
                                    <div class="form-item">
                                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'finishing_layer_custom', 'disabled': this_object_type != object_type } %}</div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="form-subgroup">
                                    <div class="form-item">
                                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'finishing_layer_' ~ finishing_layer, 'label': finishing_layer | trans, 'disabled': this_object_type != object_type } %}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if not readonly or prefilled_data.finishing_layer_specification is defined %}
                <div class="form-subgroup">
                    <div class="form-item no-spaces">{% include 'textarea.html.twig' with { 'name': 'finishing_layer_specification', 'label': 'Material specification (if possible)' | trans } %}</div>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.material_production is defined %}
        <div class="report-header">{{ 'Construction techniques' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'material_production', 'label': 'Construction techniques' | trans } %}</div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.form_relief is defined or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined %}
        <div class="report-header">{{ 'Form' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item relief">
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_relief', 'label': 'Relief' | trans } %}</div>
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_full_plastic', 'label': 'Full plastic' | trans } %}</div>
                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'form_custom' } %}</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
        or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
        or prefilled_data.construction_work_custom is defined
        or has_construction_frame %}
        <div class="report-header">{{ 'Construction / composition' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup report-row">
                {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
                    or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
                    or prefilled_data.construction_work_custom is defined %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Work' | trans }}</div>
                        <div class="number-of-parts">{% include 'number.html.twig' with { 'name': 'construction_work_number_of_parts', 'label': 'Number of parts' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_loose', 'label': 'Loose' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_fixed', 'label': 'Fixed' | trans } %}</div>
                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'construction_work_custom', 'label': 'To be mounted with' | trans } %}</div>
                    </div>
                {% endif %}
                {% if not readonly or has_construction_frame %}
                    <div class="form-item report-column">
                        <div class="report-header-2" id="construction-frame-name">{% if this_object_type == 'sculpture' %}{{ 'Pedestal' | trans }}{% else %}{{ 'Frame' | trans }}{% endif %}</div>
                        {% for construction in construction_frame %}
                            <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_frame_ ' ~ construction, 'label': construction | trans } %}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if not readonly or has_connection_work or has_connection_pedestal %}
        <div class="report-header">{{ 'Connections' | trans }}</div>
        <div class="form-group">
            {% for object_type in object_types %}
                <div class="form-subgroup report-row">
                    {% if not readonly or has_connection_work %}
                        <div class="form-item report-column" id="connection-work-{{ object_type }}"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                            <div class="report-header-2">{% if object_type == 'sculpture' %}{{ 'Between separate parts of the sculpture' | trans }}{% else %}{{ 'Between carrier and frame' | trans }}{% endif %}</div>
                            {% for connection in connections[object_type] %}
                                {% if connection == 'custom' %}
                                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_work_custom', 'disabled': this_object_type != object_type } %}</div>
                                {% else %}
                                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_work_' ~ connection, 'label': connection | trans, 'disabled': this_object_type != object_type } %}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if object_type == 'sculpture' and (not readonly or has_connection_pedestal) %}
                        <div class="form-item report-column" id="connection-pedestal"{% if this_object_type != object_type %} style="display: none"{% endif %}>
                            <div class="report-header-2">{{ 'Between sculpture and pedestal' | trans }}</div>
                            {% for connection in connections['sculpture'] %}
                                {% if connection == 'custom' %}
                                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_pedestal_custom' } %}</div>
                                {% else %}
                                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_pedestal_' ~ connection, 'label': connection | trans } %}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if not readonly %}
        <div class="buttons">
            <div class="previous-button">
                <button type="button" onclick="showDiv('actors-form', true)">{{ 'Previous' | trans }}</button>
            </div>
            <div class="next-button">
                <button type="button" onclick="showDiv('condition-form', true)">{{ 'Next' | trans }}</button>
            </div>
        </div>
    {% endif %}
</div>
{% endif %}
