{% set materials = [ 'stone', 'metal', 'glass', 'ceramic', 'plaster', 'textile', 'paper', 'wood', 'plastic', 'custom' ] %}
{% set has_material = false %}
{% set has_pedestal = false %}
{% for material in materials %}
    {% if prefilled_data['material_' ~ material] is defined %}
        {% set has_material = true %}
    {% endif %}
    {% if prefilled_data['pedestal_' ~ material] is defined %}
        {% set has_pedestal = true %}
    {% endif %}
{% endfor %}

{% set finishing_layers = [ 'absent', 'glaze', 'varnish', 'wax_layer', 'painting', 'monochrome', 'polychrome', 'patination', 'chop_marks', 'polishing', 'natural', 'artificial', 'custom' ] %}
{% set has_finishing_layer = false %}
{% for finishing_layer in finishing_layers %}
    {% if prefilled_data['finishing_layer_' ~ finishing_layer] is defined %}
        {% set has_finishing_layer = true %}
    {% endif %}
{% endfor %}

{% set connections = [ 'not_applicable', 'welded', 'soldered', 'dived_wood', 'glue', 'screws', 'nails', 'bolts', 'custom' ] %}
{% set has_connection_work = false %}
{% set has_connection_pedestal = false %}
{% for connection in connections %}
    {% if prefilled_data['connections_work_' ~ connection] is defined %}
        {% set has_connection_work = true %}
    {% endif %}
    {% if prefilled_data['connections_pedestal_' ~ connection] is defined %}
        {% set has_connection_pedestal = true %}
    {% endif %}
{% endfor %}

{% if not readonly or has_material or has_pedestal or prefilled_data.material_specification is defined
    or has_finishing_layer or prefilled_data.finishing_layer_specification is defined
    or prefilled_data.material_production is defined or prefilled_data.form_relief is defined
    or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined
    or prefilled_data.construction_work_number_of_parts is defined or prefilled_data.construction_work_loose is defined
    or prefilled_data.construction_work_fixed is defined or prefilled_data.construction_work_custom is defined
    or prefilled_data.construction_pedestal_loose is defined or prefilled_data.construction_pedestal_fixed is defined
    or prefilled_data.construction_pedestal_original is defined or prefilled_data.construction_pedestal_not_original is defined
    or prefilled_data.construction_pedestal_custom is defined or has_connection_work or has_connection_pedestal %}
<div id="material-form"{% if not readonly %} class="form-tab"{% endif %}>

    {% if not readonly or has_material or has_pedestal or prefilled_data.material_specification is defined or has_finishing_layer
        or prefilled_data.finishing_layer_specification is defined or prefilled_data.material_production is defined %}
        <div class="report-header">{{ 'Material type' | trans }}</div>
    {% endif %}

    {% if not readonly or has_material or has_pedestal or prefilled_data.material_specification is defined %}
    <div class="form-group">
        {% if not readonly or has_material or has_pedestal %}
            <div class="form-subgroup report-row">
                {% if not readonly or has_material %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Carrier' | trans }}</div>
                        {% for material in materials %}
                            {% if material == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'material_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'material_' ~ material, 'label': material | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if not readonly or has_pedestal %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Pedestal' | trans }}</div>
                        {% for material in materials %}
                            {% if material == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'pedestal_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'pedestal_' ~ material, 'label': material | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if not readonly or prefilled_data.material_specification is defined %}
            <div>
                <div class="no-spaces">{% include 'textarea.html.twig' with { 'name': 'material_specification', 'label': 'Material specification' | trans } %}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if not readonly or has_finishing_layer or prefilled_data.finishing_layer_specification is defined %}
    <div class="form-group">
        {% if not readonly or has_finishing_layer %}
            <div class="report-header-2">{{ 'Finishing layer' | trans }}</div>
            {% for finishing_layer in finishing_layers %}
                {% if finishing_layer == 'custom' %}
                    <div class="form-subgroup report-row">
                        <div class="form-item">
                            <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'finishing_layer_custom' } %}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-subgroup">
                        <div class="form-item">
                            <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'finishing_layer_' ~ finishing_layer, 'label': finishing_layer | trans } %}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if not readonly or prefilled_data.finishing_layer_specification is defined %}
            <div class="form-subgroup">
                <div class="form-item no-spaces">{% include 'textarea.html.twig' with { 'name': 'finishing_layer_specification', 'label': 'Material specification (if possible)' | trans } %}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}

    {% if not readonly or prefilled_data.material_production is defined %}
        <div class="report-header">{{ 'Construction techniques' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'material_production', 'label': 'Construction techniques' | trans } %}</div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.form_relief is defined or prefilled_data.form_full_plastic is defined or prefilled_data.form_custom is defined %}
        <div class="report-header">{{ 'Form' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup">
                <div class="form-item relief">
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_relief', 'label': 'Relief' | trans } %}</div>
                    <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'form_full_plastic', 'label': 'Full plastic' | trans } %}</div>
                    <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'form_custom' } %}</div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
        or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
        or prefilled_data.construction_work_custom is defined or prefilled_data.construction_pedestal_loose is defined
        or prefilled_data.construction_pedestal_fixed is defined or prefilled_data.construction_pedestal_original is defined
        or prefilled_data.construction_pedestal_not_original is defined or prefilled_data.construction_pedestal_custom is defined %}
        <div class="report-header">{{ 'Construction / composition' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup report-row">
                {% if not readonly or prefilled_data.construction_work_number_of_parts is defined
                    or prefilled_data.construction_work_loose is defined or prefilled_data.construction_work_fixed is defined
                    or prefilled_data.construction_work_custom is defined%}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Work' | trans }}</div>
                        <div class="number-of-parts">{% include 'number.html.twig' with { 'name': 'construction_work_number_of_parts', 'label': 'Number of parts' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_loose', 'label': 'Loose' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_work_fixed', 'label': 'Fixed' | trans } %}</div>
                        <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'construction_work_custom', 'label': 'To be mounted with' | trans } %}</div>
                    </div>
                {% endif %}
                {% if not readonly or prefilled_data.construction_pedestal_loose is defined
                    or prefilled_data.construction_pedestal_fixed is defined or prefilled_data.construction_pedestal_original is defined
                    or prefilled_data.construction_pedestal_not_original is defined or prefilled_data.construction_pedestal_custom is defined %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Pedestal' | trans }}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_pedestal_loose', 'label': 'Loose' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_pedestal_fixed', 'label': 'Fixed' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_pedestal_original', 'label': 'Original' | trans } %}</div>
                        <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'construction_pedestal_not_original', 'label': 'Not original' | trans } %}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if not readonly or has_connection_work or has_connection_pedestal %}
        <div class="report-header">{{ 'Connections' | trans }}</div>
        <div class="form-group">
            <div class="form-subgroup report-row">
                {% if not readonly or has_connection_work %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Between separate parts of the sculpture' | trans }}</div>
                        {% for connection in connections %}
                            {% if connection == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_work_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_work_' ~ connection, 'label': connection | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not readonly or has_connection_pedestal %}
                    <div class="form-item report-column">
                        <div class="report-header-2">{{ 'Between sculpture and pedestal' | trans }}</div>
                        {% for connection in connections %}
                            {% if connection == 'custom' %}
                                <div class="form-checkbox-custom">{% include 'checkbox_custom.html.twig' with { 'name': 'connections_pedestal_custom' } %}</div>
                            {% else %}
                                <div class="form-checkbox">{% include 'checkbox.html.twig' with { 'name': 'connections_pedestal_' ~ connection, 'label': connection | trans } %}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if not readonly %}
    <div class="buttons">
        <div class="previous-button">
            <button type="button" onclick="showDiv('actors-form')">{{ 'Previous' | trans }}</button>
        </div>
        <div class="next-button">
            <button type="button" onclick="showDiv('condition-form')">{{ 'Next' | trans }}</button>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
