<nav class="navbar navbar-static-top navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav main-nav navbar-right">
            {% if is_granted('ROLE_USER') %}
                <li{% if current_page == 'reports' %} class="active"{% endif %}>
                    <a href="{{ path('main') }}">{{ 'Reports' | trans }}</a>
                </li>
                <li{% if current_page == 'organisations' %} class="active"{% endif %}>
                    <a href="{{ path('organisations') }}">{{ 'Organisations' | trans }}</a>
                </li>
                <li{% if current_page == 'representatives' %} class="active"{% endif %}>
                    <a href="{{ path('representatives') }}">{{ 'Representatives' | trans }}</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li{% if current_page == 'users' %} class="active"{% endif %}>
                    <a href="{{ path('users') }}">{{ 'Users' | trans }}</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                <li>
                    <div id="user-profile-button">
                        <a href="{{ path('password') }}">
                            <i class="fas fa-user"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <div id="user-logout-button">
                        <a href="{{ path('logout') }}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                </li>
            {% endif %}
            <li>
                <div id="lang-select">
                    <div id="lang-select-selected" onclick="clickedLangButton(this)">{{ app.request.locale | upper }}</div>
                    <div id="lang-select-items" class="lang-select-hide">
                        {% for translated_route in translated_routes %}
                            {% if translated_route.lang != app.request.locale %}
                                <div onclick="window.location.href = '{{ translated_route.url }}'">{{ translated_route.lang | upper }}</div>
                            {% endif %}
                        {% endfor %}
                  </div>
                </div>
                <script>
                    function clickedLangButton(ele) {
                        var langSelectItem = document.getElementById('lang-select-items');
                        if(langSelectItem != null) {
                            langSelectItem.classList.toggle('lang-select-hide');
                        }
                        var langSelectSelected = document.getElementById('lang-select-selected');
                        if(langSelectSelected != null) {
                            langSelectSelected.classList.toggle('lang-select-arrow-active');
                        }
                    }

                    function closeLangSelect(ele) {
                        var langSelectSelected = document.getElementById('lang-select-selected');
                        if (langSelectSelected != null && (ele == null || ele.target == null || ele.target !== langSelectSelected)) {
                            langSelectSelected.classList.remove('lang-select-arrow-active');
                            var langSelectItems = document.getElementById('lang-select-items');
                            if(langSelectItems != null) {
                                langSelectItems.classList.add('lang-select-hide');
                            }
                        }
                    }
                    document.addEventListener("click", closeLangSelect);
                </script>
            </li>
        </ul>
    </div>
</nav>
