{% include 'header.html.twig' %}
<!--<h1>Beheer organisaties</h1>-->
<div class="orgs">
    <div class="orgs-header">
        <div class="header">{{ 'Organisations' | trans }}</div>
        <a class="button" href="{{ path('organisation', { type : 'new' }) }}">
            <i class="fas fa-plus"></i>
            {{ 'Add organisation' | trans }}
        </a>
    </div>
    {% for organisation in organisations %}
        <div class="orgs-row">
            <div class="orgs-row-thumbnail"><img src="{{  organisation.logo }}" alt="" /></div>
            <div class="orgs-row-metadata">
                <div class="orgs-row-alias">
                    <div>{{ 'Alias' | trans }}:</div>
                    <div>{{ organisation.alias }}</div>
                </div>
                <div class="orgs-row-name">
                    <div>{{ 'Name' | trans }}:</div>
                    <div>{{ organisation.name }}</div>
                </div>
                <div class="orgs-row-role">
                    <div>{{ 'Role' | trans }}:</div>
                    <div>{{ organisation.role | trans }}</div>
                </div>
            </div>
            <div class="orgs-row-actions">
                <a class="button" href="{{ path('organisation', { id: organisation.id }) }}">
                    <!--Wijzig-->
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a class="button" href="{{ path('organisation', { id: organisation.id, action: 'delete' }) }}"
                   onclick="return confirm('{% if app.request.locale == 'nl' %}Bent u zeker dat u de organisatie {{ organisation.alias }} wilt verwijderen?{% else %}Are you sure you want to delete the organisation {{ organisation.alias }}?{% endif %}')">
                    <!--Verwijder-->
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% include 'footer.html.twig' %}
