<div class="report-header-2">{{ 'Organisation' | trans }}</div>
{% if not readonly %}
    <script>
        var {{ type }}Organisations = {{ organisations | json_encode | raw }};

        function fill{{ type }}Organisation(id) {
            for(var key in {{ type }}Organisations[id]) {
                var element = document.querySelector("input[name='{{ type }}_" + key + "']");
                if(element != null) {
                    element.value = {{ type }}Organisations[id][key];
                }
            }
        }
    </script>
    <select onchange="fill{{  type }}Organisation(this.options[this.selectedIndex].value)">
        <option></option>
        {% for organisation in organisations %}
            <option value="{{ organisation.id }}">{{ organisation.alias }}</option>
        {% endfor %}
    </select>
{% endif %}
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_name', 'label': 'Name' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_vat', 'label': 'VAT number' | trans } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_address', 'label': 'Adress' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_postal', 'label': 'Postal code' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_city', 'label': 'City' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_country', 'label': 'Country' | trans } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_email', 'label': 'E-mail' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_website', 'label': 'Website' | trans, 'is_url': true } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_phone', 'label': 'Telephone' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_mobile', 'label': 'Cell phone' | trans } %}
    </div>
</div>
