{% include 'header.html.twig' %}
<script>
	function toggleField(hideId, showId) {
		var hideObj = document.getElementById(hideId);
		hideObj.disabled = true;
		hideObj.style.display = 'none';
		hideObj.removeAttribute('name');
		var showObj = document.getElementById(showId);
		showObj.disabled = false;
		showObj.style.display = 'inline';
		showObj.name = "form[role]";
		showObj.focus();
	}
	function fixTextareaheight() {
		var ele = document.getElementById('form_notes');
		ele.style.height = "16px";
		ele.style.height = (ele.scrollHeight + 2) + "px";
	}
	window.onload = function() {
		fixTextareaheight();
	};
</script>
{{ form_start(form) }}
	<div id="wrap">
		<div class="header">{% if new %}{{ 'Add organisation' | trans }}{% else %}{{ 'Alter organisation' | trans }}{% endif %}</div>
	    <div id="organisation-form">
	        <div class="form-group">
	            <div class="form-subgroup">
	                {{ form_row(form.alias) }}
	                {{ form_row(form.name) }}
					<div>
						<label for="role-dropdown">{{ 'Role' | trans }}</label>
						<select id="role-dropdown"{% if custom_role is empty %} name="form[role]"{% else %} style="display: none;"{% endif %} onchange="if(this.options[this.selectedIndex].value === 'customOption') { toggleField('role-dropdown', 'role-custom'); }">
							<option disabled selected hidden>{{ 'Choose a role' | trans }}</option>
							{% for key, role_ in organisation_roles %}
								<option value="{{ key }}"{% if role == key %} selected{% endif %}>{{ role_ | trans }}</option>
							{% endfor %}
							<option value="customOption"{% if custom_role is not empty %} selected{% endif %}>{{ 'Other' | trans }}</option>
						</select>
						<input type="text" id="role-custom" placeholder="{{ 'Fill in another role ...' | trans }}"
							   {% if custom_role is not empty %} name="form[role]" value="{{ custom_role }}" {% else %}style="display: none;" disabled="disabled" {% endif %}onblur="if(this.value === ''){ toggleField('role-custom', 'role-dropdown'); document.getElementById('role-dropdown').selectedIndex = 0; }">
					</div>
					{% do form.role.setRendered() %}
				</div>
	            <div class="form-subgroup">
	                {{ form_row(form.logo) }}
	                {{ form_row(form.vat) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.address) }}
	                {{ form_row(form.postal) }}
	                {{ form_row(form.city) }}
	                {{ form_row(form.country) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.email) }}
	                {{ form_row(form.website) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.phone) }}
	                {{ form_row(form.mobile) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.notes) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.submit) }}
	            </div>
	        </div>
	    </div>
    </div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
