{% include 'header.html.twig' %}
<script>
	function toggleCustomRole(selectEle, customRoleId, show) {
		var customRole = document.getElementById(customRoleId);
		if(customRole != null) {
			if(show) {
				selectEle.removeAttribute('name');
				customRole.name = 'form[role]';
				customRole.disabled = false;
				customRole.style = 'display: block';
				customRole.focus();
			} else {
				selectEle.name = 'form[role]';
				customRole.removeAttribute('name');
				customRole.disabled = true;
				customRole.style = 'display: none';
			}
		}
	}

	function fixTextareaheight() {
		var ele = document.getElementById('form_notes');
		ele.style.height = "16px";
		ele.style.height = (ele.scrollHeight + 2) + "px";
	}

	window.onload = function() {
		fixTextareaheight();
		{% if custom_role is empty and role is empty %}
			var roleDropdown = document.getElementById('role-dropdown');
			if(roleDropdown != null) {
				roleDropdown.selectedIndex = 0;
			}
		{% endif %}
	};
</script>
{{ form_start(form) }}
	<div id="wrap">
		<div class="header">{% if new %}{{ 'Add organisation' | trans }}{% else %}{{ 'Alter organisation' | trans }}{% endif %}</div>
	    <div id="organisation-form">
	        <div class="form-group">
	            <div class="form-subgroup">
	                {{ form_row(form.alias) }}
	                {{ form_row(form.name) }}
					<div>
						<label for="role-dropdown">{{ 'Role' | trans }}</label>
						<div class="flex">
							<select id="role-dropdown"{% if custom_role is empty %} name="form[role]"{% endif %} onchange="toggleCustomRole(this, 'role-custom', this.options[this.selectedIndex].value === 'customOption')" autocomplete="off">
								<option disabled selected hidden>{{ 'Choose a role' | trans }}</option>
								{% for key, role_ in organisation_roles %}
									<option value="{{ key }}"{% if role == key %} selected{% endif %}>{{ role_ | trans }}</option>
								{% endfor %}
								<option value="customOption"{% if custom_role is not empty %} selected{% endif %}>{{ 'Other' | trans }}</option>
							</select>
							<input type="text" id="role-custom" placeholder="{{ 'Fill in another role ...' | trans }}"
								   {% if custom_role is not empty %} name="form[role]" value="{{ custom_role }}" {% else %}style="display: none;" disabled="disabled" {% endif %} autocomplete="off">
						</div>
					</div>
					{% do form.role.setRendered() %}
				</div>
	            <div class="form-subgroup">
	                {{ form_row(form.logo) }}
	                {{ form_row(form.vat) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.address) }}
	                {{ form_row(form.postal) }}
	                {{ form_row(form.city) }}
	                {{ form_row(form.country) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.email) }}
	                {{ form_row(form.website) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.phone) }}
	                {{ form_row(form.mobile) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.notes) }}
	            </div>
	            <div class="form-subgroup">
	                {{ form_row(form.submit) }}
	            </div>
	        </div>
	    </div>
    </div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
