{% include 'header.html.twig' %}
<h1>Beheer organisaties</h1>
<div class="search">
    <div class="search-header">
        <div class="table-cell">Logo</div>
        <div class="table-cell">Alias</div>
        <div class="table-cell">Naam</div>
        <div class="table-cell">Functie</div>
    </div>
    {% for organization in organizations %}
        <a class="create-row" href="{{ path('organization', { id : organization.id }) }}">
            <div class="table-cell"><img src="{{  organization.logo }}" alt="" /></div>
            <div class="table-cell">{{  organization.alias }}</div>
            <div class="table-cell">{{  organization.name }}</div>
            <div class="table-cell">{{  organization.function }}</div>
        </a>
    {% endfor %}
</div>
<a href="{{ path('organization', { type : 'new' }) }}">Een nieuwe organisatie toevoegen</a>
{% include 'footer.html.twig' %}
