<div class="report-header-2">Instelling</div>
{% if not readonly %}
    <script>
        var {{ type }}Organizations = {{ organizations | json_encode | raw }};

        function fill{{ type }}Organization(id) {
            for(var key in {{ type }}Organizations[id]) {
                var element = document.querySelector("input[name='{{ type }}_" + key + "']");
                if(element != null) {
                    element.value = {{ type }}Organizations[id][key];
                }
            }
        }
    </script>
    <select onchange="fill{{  type }}Organization(this.options[this.selectedIndex].value)">
        <option></option>
        {% for organization in organizations %}
            <option value="{{ organization.id }}">{{ organization.alias }}</option>
        {% endfor %}
    </select>
{% endif %}
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_name', 'label': 'Naam' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_vat', 'label': 'BTW-nummer' } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_address', 'label': 'Adres' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_postal', 'label': 'Postcode' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_city', 'label': 'Gemeente' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_country', 'label': 'Land' } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_email', 'label': 'E-mail' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_website', 'label': 'Website', 'is_url': true } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_phone', 'label': 'Telefoon' } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_mobile', 'label': 'GSM' } %}
    </div>
</div>
