{% include 'header.html.twig' %}
{{ form_start(form) }}
<div id="wrap">
    <div class="header">{{ 'Change password' | trans }}</div>
    {% if message is not null %}
        <p class="message-green">{{ message }}</p>
    {% endif %}
    {% if error is not null %}
        <p class="message-red">{{ error }}</p>
    {% endif %}
    <div id="user-form">
        <div class="form-group">
            <div class="form-subgroup">
                {{ form_row(form.plainPassword) }}
            </div>
            <div class="form-subgroup">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
