{% if not readonly or prefilled_data.reason is defined or prefilled_data.reason_custom is defined or prefilled_data.exhibition_title is defined or prefilled_data.exhibition_url is defined or prefilled_data.exhibition_date is defined or prefilled_data.exhibition_id is defined or prefilled_data.exhibition_info is defined or prefilled_data.exhibition_rep_name is defined %}
<div id="reason-form"{% if not readonly %} class="form-tab"{% endif %}>
    {% if not readonly %}
    <script>
        function toggleCustomReason(customReasonId, show) {
            var customReason = document.getElementById(customReasonId);
            if(customReason != null) {
                if(show) {
                    customReason.disabled = false;
                    customReason.style = 'display: block';
                    customReason.focus();
                } else {
                    customReason.disabled = true;
                    customReason.style = 'display: none';
                }
            }
        }
    </script>
    <div class="report-header">{{ 'Identification of the reason for the report' | trans }}</div>
    <div class="form-group">
        <div class="form-subgroup">
            <div class="form-item">
                <label for="reason-dropdown">{{ 'Reason' | trans }}</label>
                <div class="flex">
                    <select id="reason-dropdown" name="reason" onchange="toggleCustomReason('reason-custom', this.options[this.selectedIndex].value === 'customOption');">
                        <option></option>
                        {% for key, reason_type in report_reasons %}
                            <optgroup label="{{ reason_type.name | trans }}">
                                {% for id, reason in reason_type.options %}
                                    <option value="{{ id }}"{% if prefilled_data.reason is defined and prefilled_data.reason == id %} selected{% endif %}>{{ reason | trans }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                        <option value="customOption"{% if prefilled_data.reason_custom is defined %} selected{% endif %}>{{ 'Other' | trans }}</option>
                    </select>
                    <input type="text" class="custom-input" id="reason-custom" placeholder="{{ 'Fill in another reason ...' | trans }}" name="reason_custom"
                           {% if prefilled_data.reason_custom is defined %}value="{{ prefilled_data.reason_custom }}" {% else %}style="display: none;" disabled="disabled" {% endif %}">
                </div>
            </div>
        </div>
    </div>
    {% elseif prefilled_data.reason is defined or prefilled_data.reason_custom is defined %}
    <div class="report-header">{{ 'Identification of the reason for the report' | trans }}</div>
    <div class="form-group">
        <div class="form-subgroup">
            <div class="form-item">
                <span class="readonly-label">{{ 'Reason' | trans }}:</span>
                {% if prefilled_data.reason_custom is defined %}
                    <span class="readonly-input">{{ prefilled_data.reason_custom }}</span>
                {% elseif prefilled_data.reason == 'customOption' %}
                    <span class="readonly-input">{{ 'Other' | trans }}</span>
                {% else %}
                    {% for key, reason_type in report_reasons %}
                        {% for id, reason in reason_type.options %}
                            {% if prefilled_data.reason == id %}
                                <span class="readonly-input">{{ reason | trans }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if not readonly or prefilled_data.exhibition_title is defined or prefilled_data.exhibition_url is defined
        or prefilled_data.exhibition_date is defined or prefilled_data.exhibition_id is defined or prefilled_data.exhibition_info is defined
        or prefilled_data.exhibition_rep_name is defined %}
        <div class="report-header">{{ 'Information loan project' | trans }}{% if not readonly %} ({{ 'if applicable' | trans }}){% endif %}</div>
        {% if not readonly or prefilled_data.exhibition_title is defined or prefilled_data.exhibition_url is defined
            or prefilled_data.exhibition_date is defined or prefilled_data.exhibition_id is defined or prefilled_data.exhibition_info is defined %}
            <div class="form-group">
                <div class="form-subgroup">
                    <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'exhibition_title', 'label': 'Name exhibition / loan project / restoration project / ...' | trans } %}</div>
                    <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'exhibition_url', 'label': 'Link to webpage if applicable' | trans, 'is_url': true } %}</div>
                </div>
                <div class="form-subgroup">
                    <div class="form-item">{% include 'date_input.html.twig' with { 'name': 'exhibition_date_start', 'label': 'Start date loan' | trans } %}</div>
                    <div class="form-item">{% include 'date_input.html.twig' with { 'name': 'exhibition_date_end', 'label': 'End date loan' | trans } %}</div>
                    <div class="form-item">{% include 'textfield.html.twig' with { 'name': 'exhibition_id', 'label': 'Loan number' | trans } %}</div>
                </div>
            </div>
        {% endif %}
        {% if not readonly or prefilled_data.exhibition_rep_name is defined %}
            <div class="form-group">
                {% include 'representative_info.html.twig' with { 'type': 'exhibition_rep', 'representative_title': 'Responsible loan project' }%}
            </div>
        {% endif %}
    {% endif %}
    {% if not readonly %}
    <div class="buttons">
        <div class="next-button">
            <button type="button" onclick="showDiv('basic-info-form')">{{ 'Next' | trans }}</button>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
