{% include 'header.html.twig' %}
{% if search_results is empty %}
    <p>Geen rapporten gevonden.</p>
{% else %}
    <div class="reports">
        <div class="reports-header">
            <div class="reports-cell">Thumbnail</div>
            <div class="reports-cell">Inventarisnummer</div>
            <div class="reports-cell">Titel</div>
            <div class="reports-cell">Vervaardiger</div>
            <div class="reports-cell">Aangemaakt</div>
        </div>
        {% for result in search_results %}
            <a class="reports-row" href="{% if action == 'create' %}{{ path('create_existing', { id : result.id }) }}{% else %}{{ path('view', { id : result.id }) }}{% endif %}">
                <div class="reports-cell"><img src="{{  result.thumbnail }}" alt="" /></div>
                <div class="reports-cell">{{  result.inventory_number }}</div>
                <div class="reports-cell">{{  result.title }}</div>
                <div class="reports-cell">{{  result.creator }}</div>
                <div class="reports-cell">{{  result.timestamp }}</div>
            </a>
        {% endfor %}
    </div>
{% endif %}
{% include 'footer.html.twig' %}
