{% include 'header.html.twig' %}
<div class="search-form">
{{ form_start(form) }}
<div id="form">
    <div id="form_match_type_div">
        {{ form_widget(form.match_type) }}
    </div>
    <div id="form_inventory_number_div">
        {{ form_widget(form.inventory_number) }}
    </div>
    <div id="form_submit_div">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
</div>
<div class="reports">
    {% if search_results is empty %}
        <p>{{ 'no_results_found' | trans }}.</p>
    {% else %}
        {% for result in search_results %}
            <div class="reports-row">
                <div class="reports-row-thumbnail"><img src="{% if result.thumbnail is empty %}{{ asset('images/no_image_available.png') }}{% else %}{{ result.thumbnail }}{% endif %}" alt="" /></div>
                <div class="reports-row-metadata">
                    <div class="reports-row-inventory-number">
                        <div>{{ 'inventory_number' | trans }}:</div>
                        <div>{{ result.inventory_number }}</div>
                    </div>
                    <div class="reports-row-title">
                        <div>{{ 'title' | trans }}:</div>
                        <div>
                            {% if app.request.locale == 'en' and result.title_en is defined and result.title_en is not empty %}
                                {{ result.title_en }}
                            {% else %}
                                {{ result.title_nl }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="reports-row-creator">
                        <div>{{ 'creator' | trans }}:</div>
                        <div>
                            {% for creator in result.creator_nl|split('\n') %}
                                {{ creator }}{% if not loop.last %}<br>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="reports-row-timestamp">
                        <div>{{ 'last_modification' | trans }}:</div>
                        <div>{{ result.timestamp }}</div>
                    </div>
                </div>
                <div class="reports-row-actions">
                    <div>
                        {% if result.id is not empty %}
                            <a href="{{ path('create_existing', { baseId: result.base_id }) }}" class="button">
                                <!--Breid uit-->
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="{{ path('view_reports', { baseId: result.base_id }) }}" class="button">
                                <!--Bekijk-->
                                <i class="far fa-eye"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('create_blank', { id: result.inventory_id }) }}" class="button">
                                <!--Maak nieuw-->
                                <i class="fas fa-plus"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% include 'footer.html.twig' %}
