<!DOCTYPE html>
<html>
<head>
    <title>IIIF conditierapport{% if prefilled_data.title_nl is defined %} - {{ prefilled_data.title_nl }}{% endif %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('css/annotorious.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
    <script src="{{ asset('js/openseadragon.2.4.2.min.js') }}"></script>
    <script src="{{ asset('js/annotorious-selector-pack.min.js') }}"></script>
    <script src="{{ asset('js/openseadragon-annotorious.min.js') }}"></script>
    <script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('js/select2.min.js') }}"></script>
</head>
{% include 'navbar.html.twig' %}
{% if readonly %}
<body>
    <div id="readonly-container">
        <div id="wrap" class="readonly">
            <div class="readonly-header">
                <div class="header">Rapport bekijken</div>
                <button type="button" id="print-button" onclick="window.print()">
                    <i class="fas fa-print"></i>
                    Afdrukken
                </button>
            </div>
            {% include 'report_form.html.twig' %}
        </div>
    </div>
{% else %}
<body onbeforeunload="return ''">
    <script>
        const divIds = [
            'reason-form', 'basic-info-form', 'actors-form', 'material-form', 'condition-form', 'recommendations-form', 'annotate-form'
        ];

        // Execute any functions that are to be loaded on page load
        // We have to do this for textareas whose height can only be dermined when visible
        function showDiv(showId) {
            for(var i = 0; i < divIds.length; i++) {
                if(divIds[i] != showId) {
                    var hideObj = document.getElementById(divIds[i]);
                    hideObj.style.position = 'absolute';
                    hideObj.style.top = '-9999px';
                    hideObj.style.left = '-9999px';
                    var removeHighlightButton = document.getElementById(divIds[i].concat("-button"));
                    removeHighlightButton.classList.remove("active");
                    removeHighlightButton.classList.add("inactive");
                }
            }
            var showObj = document.getElementById(showId);
            showObj.style.position = 'relative';
            showObj.style.top = '0';
            showObj.style.left = '0';
            if(typeof eventsToTrigger !== 'undefined') {
                for (var e in eventsToTrigger) {
                    eval(eventsToTrigger[e] + "()");
                }
            }
            var highlightButton = document.getElementById(showId.concat("-button"));
            highlightButton.classList.remove("inactive");
            highlightButton.classList.add("active");
        }
    </script>

    <form action="{{ path('save', { type: 'existing' }) }}" method="POST">
        <div class="header-report">Rapport aanmaken</div>
        <div class="object-row">
            <div class="object-row-thumbnail">
                <img src="{% if prefilled_data.thumbnail is not defined %}{{ asset('images/no_image_available.png') }}{% else %}{{ prefilled_data.thumbnail }}{% endif %}" alt="">
            </div>
            <div class="object-row-metadata">
                <div class="object-row-inventory-number">
                    <div>Inventarisnummer: </div>
                    <div>{{ prefilled_data.inventory_number }}</div>
                </div>
                <div class="object-row-title">
                    <div>Titel: </div>
                    <div>{{ prefilled_data.title_nl }}</div>
                </div>
                <div class="object-row-creator">
                    <div>Vervaardiger: </div>
                    <div>
                    {% for creator in prefilled_data.creator_nl|split('\n') %}
                        {{ creator }}{% if not loop.last %}<br>{% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="wrap">
            <div id="report-navigation">
                <button id="reason-form-button" class="active" type="button" onclick="showDiv('reason-form')" title="Aanleiding rapport">Aanleiding rapport</button>
                <button id="basic-info-form-button" class="inactive" type="button" onclick="showDiv('basic-info-form')" title="Objectidentificatie">Objectidentificatie</button>
                <button id="actors-form-button" class="inactive" type="button" onclick="showDiv('actors-form')" title="Betrokken actoren">Betrokken actoren</button>
                <button id="material-form-button" class="inactive" type="button" onclick="showDiv('material-form')" title="Fysieke kenmerken">Fysieke kenmerken</button>
                <button id="condition-form-button" class="inactive" type="button" onclick="showDiv('condition-form')" title="Conditie en conservering">Conditie en conservering</button>
                <button id="recommendations-form-button" class="inactive" type="button" onclick="showDiv('recommendations-form')" title="Aanbevelingen">Aanbevelingen</button>
                <button id="annotate-form-button" class="inactive" type="button" onclick="showDiv('annotate-form')" title="Annotaties">Annotaties</button>
                <div class="save">
                    <button type="submit">
                        <i class="fas fa-save"></i>
                        Opslaan
                    </button>
                </div>
            </div>
            {% include 'report_form.html.twig' %}
        </div>
    </form>
{% endif %}
{% include 'footer.html.twig' %}
