{{ include('header.html.twig') }}
{% if search_results is empty %}
    <p>Geen rapporten gevonden.</p>
{% else %}
    <div class="reports">
        <div class="reports-header">
            <div class="reports-cell">Inventarisnummer</div>
            <div class="reports-cell">Laatste wijziging</div>
        </div>
        {% for result in search_results %}
            <a class="reports-row" href="{{ path(action, { type : type, inventorynumber : result.inventory_number }) }}">
                <div class="reports-cell">{{  result.inventory_number }}</div>
                <div class="reports-cell">{{  result.last_modified }}</div>
            </a>
        {% endfor %}
    </div>
{% endif %}
{{ include('footer.html.twig') }}
