<div class="report-header-2">{{ 'Representative' | trans }}</div>
{% if not readonly %}
    <script>
        var {{ type }}Representatives = {{ representatives | json_encode | raw }};

        function fill{{ type }}Representative(id) {
            for(var key in {{ type }}Representatives[id]) {
                var element = document.querySelector("input[name='{{ type }}_" + key + "']");
                if(element != null) {
                    element.value = {{ type }}Representatives[id][key];
                } else {
                    element = document.querySelector("textarea[name='{{ type }}_" + key + "']");
                    if(element != null) {
                        element.value = {{ type }}Representatives[id][key];
                        window["fix{{ type }}_" + key + "textareaheight"]();
                    }
                }
            }
        }
    </script>
    <select onchange="fill{{  type }}Representative(this.options[this.selectedIndex].value)">
        <option></option>
        {% for representative in representatives %}
            <option value="{{ representative.id }}">{{ representative.alias }}</option>
        {% endfor %}
    </select>
{% endif %}
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_name', 'label': 'Name' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_role', 'label': 'Role' | trans } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_email', 'label': 'E-mail' | trans } %}
    </div>
    <div class="form-item">
        {% include 'textfield.html.twig' with { 'name': type ~ '_phone', 'label': 'Telephone' | trans } %}
    </div>
</div>
<div class="form-subgroup">
    <div class="form-item">
        {% include 'textarea.html.twig' with { 'name': type ~ '_notes', 'label': 'Notes' | trans } %}
    </div>
</div>
