{% include 'header.html.twig' %}
<script>
    function fixTextareaheight() {
        var ele = document.getElementById('form_notes');
        ele.style.height = "16px";
        ele.style.height = (ele.scrollHeight + 2) + "px";
    }
    window.onload = function() {
        fixTextareaheight();
    };
</script>
{{ form_start(form) }}
    <div id="wrap">
        <div class="header">{% if new %}{{ 'Add representative' | trans }}{% else %}{{ 'Alter representative' | trans }}{% endif %}</div>
        <div id="representative-form">
            <div class="form-group">
                <div class="form-subgroup">
                    {{ form_row(form.organisation) }}
                    {{ form_row(form.alias) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.role) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.notes) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
