{% include 'header.html.twig' %}
{{ form_start(form) }}
    <div id="wrap">
        <div class="header">Vertegenwoordiger {% if new %}toevoegen{% else %}wijzigen{% endif %}</div>
        <div id="representative-form">
            <div class="form-group">
                <div class="form-subgroup">
                    {{ form_row(form.alias) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.function) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.email) }}
                    {{ form_row(form.phone) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.notes) }}
                </div>
                <div class="form-subgroup">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% include 'footer.html.twig' %}
