{% include 'header.html.twig' %}
{{ form(form) }}
{% if search_results is not null %}
    {% if search_results is empty %}
        <p>Geen inventarisnummers gevonden.</p>
    {% else %}
        <div class="create">
            <div class="create-header">
                <div class="create-cell">Thumbnail</div>
                <div class="create-cell">Inventarisnummer</div>
                <div class="create-cell">Titel</div>
                <div class="create-cell">Vervaardiger</div>
            </div>
            {% for result in search_results %}
                {% if result.thumbnail is empty %}
                    <div class="create-row" onclick="alert('Fout: inventarisnummer \'{{ result.inventory_number }}\' heeft geen afbeelding.')">
                        <div class="create-cell"></div>
                        <div class="create-cell">{{  result.inventory_number }}</div>
                        <div class="create-cell">{{  result.title }}</div>
                        <div class="create-cell">{{  result.creator }}</div>
                    </div>
                {% else %}
                    <a class="create-row" href="{{ path('create_blank', { id : result.id }) }}">
                        <div class="create-cell"><img src="{{  result.thumbnail }}" alt="" /></div>
                        <div class="create-cell">{{  result.inventory_number }}</div>
                        <div class="create-cell">{{  result.title }}</div>
                        <div class="create-cell">{{  result.creator }}</div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% include 'footer.html.twig' %}
