{% include 'header.html.twig' %}
{% if search_results is not null %}
    {% if search_results is empty %}
        <p>{{ 'no_reports_found' | trans }}.</p>
    {% else %}
        <div class="reports">
            {% for result in search_results %}
                <div class="reports-row">
                    <div class="reports-row-thumbnail"><img src="{{ result.thumbnail }}" alt="" /></div>
                    <div class="reports-row-metadata">
                        <div class="reports-row-inventory-number">
                            <div>{{ 'inventory_number' | trans }}:</div>
                            <div>{{ result.inventory_number }}</div>
                        </div>
                        <div class="reports-row-title">
                            <div>{{ 'title' | trans }}:</div>
                            <div>
                                {% if app.request.locale == 'en' and prefilled_data.title_en is defined and prefilled_data.title_en is not empty %}
                                    {{ result.title_en }}
                                {% else %}
                                    {{ result.title_nl }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="reports-row-creator">
                            <div>{{ 'creator' | trans }}:</div>
                            <div>
                                {% for creator in result.creator_nl|split('\n') %}
                                    {{ creator }}{% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="reports-row-timestamp">
                            <div>{{ 'created' | trans }}:</div>
                            <div>{{ result.timestamp }}</div>
                        </div>
                    </div>
                    <div class="reports-row-actions">
                        <div>{% if result.id is not empty %}<a href="{{ path('view', { id: result.id }) }}" class="button">
                            <!--Bekijk-->
                            <i class="far fa-eye"></i>
                        </a>{% endif %}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% include 'footer.html.twig' %}
